[2017-10-01 20:20] Log1x opened #5 "Remove unnecessary console logs"
[code]

I was curious if we could remove this from hitting logs every time there's a page without a modal on it?

If not, can we get a setting of some sort to set `logging` to `false`?

Thanks!

[2017-10-02 04:08] kalpeshsingh commented on #5
Hi @Log1x ,

Thanks for raising this issue.
I would like to know more about it. What is your case where you don't want it?

cc: @ghosh

[2017-10-02 08:01] ghosh commented on #5
@Log1x @kalpeshsingh Thanks for bringing this up. Makes sense having a logging config. It would be useful in places where the modal markup is generated dynamically or where there is a single js file for all pages.

@kalpeshsingh Lets pick this up for our next release.

[2017-10-02 08:23] kalpeshsingh commented on #5
Makes complete sense @ghosh
Yep, Let's rollout in next version.

Thank you Brandon.
We will update you on this issue.

[2017-10-05 17:27] serhatsnmz opened #7 "Cannot be used with Bootstap"
I'm trying to use it with Bootstrap, but when I'm trying to import bootstrap.css file, it stop working.
I tried both CDN and local. Besides I've changed the order of css files in html, but nothing changed.

[2017-10-05 18:20] kalpeshsingh commented on #7
The `modal` class is clashing with bootstrap class. As of now, you will need to change it to something else.

Here are three instances where you need to change it. I changed it to `micro-modal` in below snippets -

1. HTML file
`<div class="micro-modal micromodal-slide" id="modal-1" aria-hidden="true">`

2. CSS file
`.micro-modal {
  font-family: -apple-system,BlinkMacSystemFont,avenir next,avenir

[2017-10-05 18:31] serhatsnmz commented on #7
Everything is working good now.
Thanks.

[2017-10-05 18:31] ghosh commented on #7
@serhatsnmz Thanks for reporting this.

Micromodal does not ship with any classes by default. All the styling is left up to the user to style. `modal` is just a class chosen for the example code. If you change the class name, the model will work as expected.

Closing this as it's not really a bug.

Cheers,

[2017-10-05 18:31] #7 closed

[2017-10-05 21:34] AndreiIgna opened #8 "Not a11y in Safari"
After opening the modal, the intro says about accessibility and try hitting `tab` key. It's not working as expected in Safari

[2017-10-05 22:32] ghosh commented on #8
@AndreiIgna Thanks for reporting this. I just tested in Safari on my machine it seems to be working fine.

Could you please provide some details about your Safari Version and your OS version?

[2017-10-05 23:27] csphere commented on #8
@ghosh I've just reproduced this, I believe.

In chrome, tab behavior is as specified in the demo - tab cycles between the "X" button, continue, and close.

In Safari, the "X" button is focused initially, the first tab press selects the address bar, and subsequent tabs alternates between 1) nothing being apparently selected, and 2) the address bar being again selected.  [Here is a screen recording

[2017-10-06 01:22] missmatsuko commented on #8
I think this is the expected behaviour for Safari and not sure if it's wise to "correct" it.
In Safari, it seems like `tab` is used to go through form elements and `alt + tab` is used to navigate through all elements.
I would think that people who use keyboard navigation with Safari would expect this behaviour, or modify their preferences themselves.

https://mcmw.abilitynet.org.uk/mac-tabbing-rou

[2017-10-06 03:58] csphere commented on #8
Interesting.  Considering the information @missmatsuko provided, I wonder if a change to either the functionality or documentation would be in order.  If Safari has this behavior, I foresee developers being thrown off when they run into that, especially given the wording... "Try hitting the tab key and notice how the focus stays within the modal itself."

At the very least, I'd suggest a clarifica

[2017-10-06 04:34] missmatsuko commented on #8
Well I think the (only?) way to make tab navigation work for the modal on Safari with default settings would be to have input elements for each action and that seems nonsemantic and hacky. I think leaving the functionality of tabs up to the Safari user makes the most sense.

I agree that the wording could be changed in the documentation for clarity. It’s a bit tough though, since people navigate t

[2017-10-06 04:58] csphere commented on #8
I would elect to change the demo/readme text to instead clarify up-front "Try hitting the tab key (option-tab on Safari) and notice how the focus stays within the modal itself."

While I agree that a footnote should be sufficient, I anticipate many people may quickly check out the demo and skim the readme, perhaps missing a footnote entirely until they or someone on their team stumbles across the

[2017-10-06 05:21] kalpeshsingh commented on #8
What if we detect Safari browser and change the `tab` to `tab + alt` on demo page?
What do you all think?

[2017-10-06 05:59] csphere commented on #8
In this case, because you have a developer audience, I think being explicit about the behavior differing between browsers is best.  Issues would arise if a developer found the repo/demo using Safari and then tried to use it in a solution through Chrome, or visa-versa.  If your audience were regular users, then I would agree with you, but while users simply need to know what to press in their curre

[2017-10-06 07:36] ghosh commented on #8
@missmatsuko Thank you for your research on this.

@csphere I have “All controls” selected in the Shortcuts pane of the Keyboard pane of System Preferences. That's why hitting the `tab` key seemed to work for me.

@kalpeshsingh Agree with @missmatsuko. I don't this we should change the default tab behavior on Safari, rather we should embrace it.

The point is to make it intuitive for the end users

[2017-10-06 08:33] missmatsuko commented on #8
@ghosh Totally agree that the wording should be adjusted while leaving the behaviour as is. I’m not sure what the best wording would be, but I think “tab around” still implies pressing the tab key?

I think a footnote would be the simplest solution, but a good generic phrasing would be better if anyone can come up with one.

Footnote example:

[2017-10-06 14:30] AndreiIgna commented on #8
I posted this in a hurry, sorry for lack more information.

Saw lots of details here, and yes `alt + tab` works as expected. On first use I was pressing `tab`, nothing happened. On pressing ´space´, the main pages scrolls.

Safari Version 11.0 (13604.1.38.1.6) with default settings
macOS High Sierra 10.13 (17A365)

[2017-10-06 16:16] kalpeshsingh commented on #8
@ghosh my bad that I didn't convey my thoughts clearly.

What if we detect Safari browser and change the `tab` to `tab + alt`  **text** on demo page and not the functionality? Plus a footnote as suggested by @missmatsuko .

We can dynamically show update **text** modal on Safari.
![Message on Safari](https://user-images.githubusercontent.com/13119410/31287541-3c61c7a4-aadf-11e7-9a3c-9686b498f27b.p

[2017-10-06 22:57] csphere commented on #8
I believe the correct generic terminology is "Keyboard-Only Navigation."  Perhaps say something like "Using keyboard-only navigation, move focus between the various controls and notice how focus stays within the modal itself."  ¯\_(ツ)_/¯

[2017-10-07 12:54] itaditya opened #9 "Page scroll through arrow keys"
When the modal is opened and the arrow keys are pressed, the page behind the overlay scrolls.
This should not be the case as currently the modal is in focus and any form of user interaction shouldn't alter the state of anything other than the modal.
I would love to solve this issue

[2017-10-07 15:21] csphere commented on #9
[This PR](https://github.com/ghosh/micromodal/pull/10) takes care of this, although you may want to move some things around to make the solution fit your vision for the library.

[2017-10-08 04:24] itaditya commented on #9
The solution looks good to me.

[2017-10-08 13:30] A11oW opened #11 "onClose animation"
Hello! You do good modal lib! How about add animation on close modal?

[2017-10-08 13:59] ghosh commented on #11
@A11oW Sure. Sounds good do you want to take a stab at it? It is an open source library after all.. 😀

[2017-10-08 14:07] ghosh commented on #9
@itaditya @csphere - I am not too sure about this. The wai-aria guidelines do not mention anything about blocking scrolling when the modal is shown.

On their example page also it seems like the page behind is scrollable using the trackpad. However, using the keyboard it is not. I don't think blocking scrolling completely is a solution here.

Demo page - https://www.w3.org/TR/wai-aria-practices/ex

[2017-10-09 03:32] csphere commented on #9
Only created one PR... unsure why there are 3 notifications...  In any case, [here's a PR](https://github.com/ghosh/micromodal/pull/14) with a noScroll option.

[2017-10-09 17:03] ataylor32 opened #15 "Forms within a modal don't work properly"
Try putting this in a modal:

[code]

There are a couple problems that occur due to the fact that `event.preventDefault()` is in the `onClick` handler:

1. Clicking the label does nothing (it should move the focus to the input).
1. The form cannot be submitted. You can easily test this by simply leaving the field blank and clicking the "Submit" button. You'll see that nothing happens. I would expe

[2017-10-09 17:33] ghosh commented on #15
Thanks for submitting this issue. Will look into it.

[2017-10-11 07:35] Hrommi opened #20 "Blocked content on mobile devices in modal"
On mobile devices don't work verticall scroll and any actions with content in modal.
Problem in `addEventListeners` intercepts an event `touchstart`.

[2017-10-11 12:06] svinkle commented on #8
Just piping in here, there are two options you need to adjust:

1. In Safari, go to `Safari > Preferences > Advanced` and check the `Press Tab to highlight each item on a webpage`
2. Optionally in macOS Settings, go to `Settings > Keyboard > Shortcuts` and at the bottom, select `Full Keyboard Access: All controls`

Folks who depend on AT would have these enabled already, so no need to change your

[2017-10-11 12:33] svinkle opened #21 "Some feeedback"
Hello! I was [asked via Twitter](https://twitter.com/knowkalpesh/status/917776174830555136) for feedback on the modal here, so here we go.

A few things stick out to me, mostly low to medium severity. For the majority, the expected functionality and accessible experience is all there, so kudos for that! I also really like how things have been documented with HTML comments then corresponding number

[2017-10-11 18:46] kalpeshsingh commented on #20
Seems like it is dup of #15

[2017-10-11 19:19] ghosh commented on #21
@svinkle Thanks a ton for leaving this here. Really appreciate you taking the time to leave such a detailed feedback.

We will work on it and make the changes as required.

Cheers 👍

[2017-10-11 19:25] ghosh commented on #5
Closed by #18

[2017-10-11 19:25] #5 closed

[2017-10-11 20:10] ghosh commented on #20
Closed in #22

[2017-10-11 20:10] #20 closed

[2017-10-11 20:11] ghosh commented on #15
Closed in #22

[2017-10-11 20:11] #15 closed

[2017-10-11 20:42] #9 closed

[2017-10-11 23:43] ghosh opened #23 "Add browser tests"
- [x] Basic demo feature tests
- [x] Form action tests
- [x] `disableScrolling` tests
- [x] `callback` tests

[2017-10-12 14:43] ghosh opened #24 "Pass config to Micromodal.show()"
Currently, it's not possible to pass a configuration object to programmatically opened modals.

Pass it in as the second argument.

[code]

[2017-10-12 14:45] ghosh opened #25 "Add api to close modal"
Need an API to close open modals programmatically.

Add a `close` method.

[code]

[2017-10-12 14:57] ataylor32 opened #26 "Make "setFocusToFirstNode" optional"
I have a modal with a form and opening the modal is not a good experience on iPhones due to the first focusable node being focused automatically.

In portrait mode, you can see that a field has focus, but you can't see that the label of the field is "First name":

![portrait](https://user-images.githubusercontent.com/1054222/31502766-3716b160-af2b-11e7-9070-e88f69edd50c.png)

In landscape mode, yo

[2017-10-12 18:53] #24 closed

[2017-10-12 19:28] #25 closed

[2017-10-15 20:39] #23 closed

[2017-10-17 10:31] nlemoine opened #36 "ES6 import"
In [package.json](https://github.com/ghosh/micromodal/blob/523d23c678f36f9a699ecadb6a0aa7cbb31eddab/package.json#L5)

I think `main` should provide the non ES6 version of micromodal (`dist/micromodal.min.js`). I have some errors bundling it with browserify.

[2017-10-18 10:22] erolabzait opened #37 "Init with custom target"
Hello,

Thank you for this awesome plugin.

In real projects i have a video / newsletter / ... modals, and they have custom onClose functions.
Can you please adjust it to return an instance with .show() / .close() options if is initialised with a custom target?

`const instance = MicroModal.init({
      targetModal: customTargetId,
      onClose: md => {},
      onShow: md => {}
   });
instance.sh

[2017-10-18 10:33] ghosh commented on #36
@nlemoine Hey, I'm not sure if that would be possible as we have to maintain compatibility with ES6 as well.

You can use a babel transform with your Browserify. This should help you out - https://github.com/babel/babelify

Closing this for now, as ES6 imports already work. Feel free to let know if you face difficulties.

[2017-10-18 10:38] ghosh commented on #37
@erolabzait Hey, we are working on `v0.2.0` which would allow you to pass a config for individual targets using the `show()` method. However, this method needs to be triggered manually on click.

[code]

I understand what you are trying to achieve. Currently, there is no support of that, but it makes sense to have that ability.

We will slate for a future release. In the meantime maybe you can use

[2017-10-18 10:57] erolabzait commented on #37
That will be awesome, any timeline for v0.2.0?

[2017-10-18 12:15] ghosh commented on #37
Nothing concrete yet, but sometime next week maybe. You can track it here - https://github.com/ghosh/micromodal/milestone/1

[2017-10-20 09:30] BartdeBruin opened #38 "forEach lacks browser support"
The forEach gives an error in Edge and FF.

SCRIPT438: Object doesn't support property or method 'forEach'

[2017-10-21 09:20] kalpeshsingh commented on #21
Hello Scott,

Thanks for leaving such detailed feedback. We appreciate your time to dig into entire code and come up with good suggestions.

Unfortunately, I failed to find `role=document` as default role in the link you mentioned. Could you please point to more specific doc. Also, seems like [`aria-controls`](http://www.heydonworks.com/article/aria-controls-is-poop) doesn't hold much value.

We h

[2017-10-21 09:24] kalpeshsingh commented on #5
Hi @Log1x ,

You might have noticed that we have added support for `debugMode`. Now, you can turn on logging by simply adding one option to `init`.

[2017-10-21 10:16] nlemoine commented on #36
Thanks for your feedback.

I'm already using babelify (my project code is ES6) but I'm having the same issue described here: https://github.com/babel/babelify/issues/247
Maybe a babelify issue but I'm wondering how this can work as babelify presets aren't always the same across projects (using `global: true` results in a error saying `Couldn't find preset "latest"`).

I think you can keep your ori

[2017-10-21 12:08] Semigradsky commented on #38
Yeah, demo is not working in Edge.

`NodeList` didn't have `foreach` method.

[2017-10-21 12:29] nlemoine commented on #38
Just submitted a PR that resolves this issue.

[2017-10-21 13:27] kalpeshsingh commented on #38
![](https://github.trello.services/images/mini-trello-icon.png) [forEach lacks browser support](https://trello.com/c/CCelvdY0/42-foreach-lacks-browser-support)

[2017-10-21 13:28] kalpeshsingh commented on #37
![](https://github.trello.services/images/mini-trello-icon.png) [Init with custom target](https://trello.com/c/zDIYcImd/43-init-with-custom-target)

[2017-10-21 13:29] kalpeshsingh commented on #26
![](https://github.trello.services/images/mini-trello-icon.png) [Make "setFocusToFirstNode" optional](https://trello.com/c/QrfaxPRe/44-make-setfocustofirstnode-optional)

[2017-10-21 17:26] Log1x commented on #5
Perfect. Thanks a lot guys.

[2017-10-22 22:55] romanrei opened #43 "Touch scroll inside modal doesn't work"
How to make the touch scroll working inside modal?
Thanks :)

[2017-10-23 13:26] svinkle commented on #21
Hi @kalpeshsingh,

When I mentioned `role=document` I was referring to the fact that the default role of the browser itself is "document." I see in your description for including this role states:

I don't believe this to be true, as the modal context remains as part of the original document which launched the modal window. For example, if JavaScript weren't available for some reason to launch the

[2017-10-24 19:49] casey6 commented on #43
I'm having this same issue also 😞

[2017-10-25 19:59] kalpeshsingh commented on #43
Could you please specify some technographics (Phone model, Browser etc.)? It's working as expected on Chrome (OnePlus 2).

[2017-10-25 20:01] kalpeshsingh commented on #43
![](https://github.trello.services/images/mini-trello-icon.png) [Touch scroll inside modal doesn't work](https://trello.com/c/YOit1rXI/45-touch-scroll-inside-modal-doesnt-work)

[2017-10-25 20:02] casey6 commented on #43
I'm having the problem an iPhone 5s running iOS 10.2.

[2017-10-25 20:30] kalpeshsingh commented on #43
Seems like iOS bug for scrolling `postion: fixed` element. We will look into it. Meanwhile, if you want to take stab then it would be awesome!

[2017-10-25 20:36] kalpeshsingh commented on #21
Thanks Scott.
Your points make sense. We will work on them.

[2017-10-25 23:15] PaulineNemchak commented on #43
i have the same problem in the chrome device tools

[2017-10-26 16:39] kalpeshsingh commented on #43
Yes, @PaulineNemchak I tested that in DevTool and faced this issue.
Hey @casey6 I think it is indeed an issue and might not related to npm.

[2017-10-27 22:27] casey6 commented on #43
Hmm, are you sure? How were you testing it? Even the version on https://micromodal.now.sh/ isn't up to date. But I believe this was fixed in #22. Pulling down the latest version of the code from this repo fixes the problem for me in devtools and on my device.

[2017-10-30 10:49] #38 closed

[2017-10-31 07:32] rchrd2 opened #48 "Demo does not work in older browsers"
Discovered this in Safari 9.1.2.

The reason is because the example code uses ES6 JavaScript template strings.

I think (hope) the modal will work in this Safari, but the demo itself is broken.

![screen shot 2017-10-30 at 11 57 57 pm](https://user-images.githubusercontent.com/182479/32211138-6b706b34-bdce-11e7-8fe1-c3b86fdafa9c.png)

[2017-10-31 09:13] ghosh commented on #48
@rchrd2 Thanks, we missed that. Fixed it. Can you please confirm if it's working now?

[2017-11-06 06:21] #48 closed

[2017-11-06 12:38] #11 closed

[2017-11-06 12:38] #21 closed

[2017-11-06 12:41] ghosh commented on #43
Fixed in 0.2.0

[2017-11-06 12:41] #43 closed

[2017-11-06 12:45] #8 closed

[2017-11-15 06:31] itaditya commented on #9
Have you checked https://developers.google.com/web/updates/2017/11/overscroll-behavior#overlay .
This can be a real performance boost. I would love working on this.

[2017-11-15 10:16] piperh opened #49 "IE 11 (and lower)"
Thanks for developing and sharing micromodal. Very easy to configure.

The only setback for me, it doesn't appear to work with any version of Explorer, at least on my MAMP setup (is OK with Edge).  Is there a way to make it function with IE?

[2017-11-17 17:31] jmjoines commented on #49
@piperh - it's a browser compatibilty issue with Array.from()

see: https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array/from

You can add the following to the beginning of the script, which should fix it in IE
[code]

[2017-11-22 10:53] piperh commented on #49
Adding the above before the existing code in micromodal.min.js does change the behaviour in IE but only produces a minimal window containing the closer 'X'. The window does not size to fit the rest of the content. (I'm using IE11 in Windows 10 on a MAMP setup).

[2017-11-22 18:23] thinkxl opened #50 "https://micromodal.now.sh/ is down"

[2017-11-22 20:26] ghosh commented on #50
@thinkxl Thanks for reporting.

I don't see anything broken, it loads fine for me. Closing this for now.

Please feel free to leave a comment here if it's still not working for you.

[2017-11-22 20:26] #50 closed

[2017-11-22 20:55] thinkxl commented on #50
Now it loads, weird. Might have been a glitch on the Matrix, thanks for your quick response!

[2017-11-29 11:34] nlemoine commented on #36
@ghosh Please see: https://github.com/rollup/rollup-plugin-babel#external-dependencies

Would consider reopening the issue?

[2017-11-29 12:12] ghosh commented on #36
@nlemoine Thanks for the update and the relevant documentation.

Will look into it.

[2017-11-29 12:15] ghosh commented on #26
@ataylor32 Thanks for reporting this. Will do.

[2017-12-06 06:26] #36 closed

[2017-12-06 08:31] nlemoine commented on #36
Thanks for considering the request! 👍

[2017-12-10 20:45] nadeemja opened #58 "Body still scrolls when disableScroll: true"
Hi,

I'm doing this:

[code]
But, the body is still scrolling.

How to debug?

[2017-12-11 06:16] ghosh commented on #58
@nadeemja Can you confirm if the body has the following inline styles:-

`style="overflow: initial; height: initial;"`

![screen shot 2017-12-11 at 11 44 16 am](https://user-images.githubusercontent.com/4667682/33818026-bbd4399c-de68-11e7-896d-9fa9f9f70cd4.png)

[2017-12-11 08:23] nadeemja commented on #58
Hi!

Thanks for replying so quickly.

There were no such inline styles. I couldn't find anything in the docs about this?

In any case, it works when I add this to the stylesheet:

[code]

Thank you so much for helping!
I really love your work :)

[2017-12-12 12:09] nadeemja commented on #58
Hi,

I'm running `0.2.1`. Should I downgrade?

[2017-12-12 14:19] ghosh commented on #58
No it should work fine. A few more questions.

- Did you install via npm or are you directly linking to the cdn?
- Which browser and version are you using?
- Are you facing this issue everywhere or is it a isolated problem?
- Can you reproduce it?

[2017-12-12 14:38] nadeemja commented on #58
Hi,

I'm using it with Meteor via NPM.

If I recall correctly, Meteor does some interesting things when deciding what should go into the body-tag. Might be the culprit.

I'm using Chrome Version 62.0.3202.94 (Official Build) (64-bit).

Not sure how to answer your last two questions, as I'm just getting started using MicroModal.

[2017-12-19 21:30] evanre opened #59 "Not working without css animations"
Hi, I can't make it work properly. It didn't close without css animations ("is-open" class is not removing).

I need just instantly show\hide a small window on my project (without animations and full page overlays).

Here is example on [CodePen](https://codepen.io/evanre/pen/vpGzaw).

[2017-12-21 02:41] kalpeshsingh commented on #59
You missed the animation part and some HTML tags in your example. Here is update version which [work](https://codepen.io/anon/pen/aEZKax#anon-login ) as expected.

[2017-12-21 07:18] ghosh commented on #59
@evanre Thanks for reporting this. It seems it not possible at the moment to dismiss the modal without any animation. Will look into it.

@kalpeshsingh The need is to toggle the modal **without** any animation and overlay.

https://github.com/ghosh/micromodal/blob/ee29c996fc42477f02588a618395bcac05ed285c/src/index.js#L59-L62

Here we listen for an animationEnd event and then toggle the visibility

[2017-12-21 08:24] evanre commented on #59
@ghosh Hi, thank you for the answer. The problem is that I've wasted a lot of time to find it out, because main tutorial on the website says nothing about the animation requirements.

[2017-12-21 10:28] ghosh commented on #59
@evanre Yup, this was an oversight on our part. It definitely needs to be fixed. Thanks again for reporting this.

[2017-12-25 07:51] kalpeshsingh commented on #59
My bad. I misunderstood your question @evanre. We will fix it and inform you.

[2017-12-26 20:31] arturi opened #61 "input type="file" hidden"
Hi! Thank you for the awesome project!

In my project I’m using hidden file inputs that are triggered when a button is clicked. File input element looks like this: `<input class="uppy-Dashboard-input" hidden="true" aria-hidden="true" tabindex="-1" type="file" name="files[]" multiple="true" onchange={this.props.handleInputChange} ref={(input) => { this.input = input }} />`, and it was included to t

[2017-12-27 07:30] ghosh commented on #61
Hi @arturi - Thanks for reporting this. Here are my thoughts on this:-

- `aria-hidden="true"` prevents screen readers from reading the element.
- `tabindex="-1"` prevents the node from being focusable
- `hidden="true"` is an html5 attribute which should visually hide your element.

Which browser and version are you using? Normally any element with `hidden` or `type=hidden` should be hidden by the

[2017-12-27 08:47] arturi commented on #61
Okay, I did some tests and it turns out the bug occurs when this `input` I mention is the last “focusable element that should not be focusable“ in the modal.

Demo: https://codepen.io/anon/pen/jYyvMe, try tabbing a few times, notice how focus breaks out of the modal.

If you look in the console, the NodeList that gets logged there includes all the inputs that have `hidden` and `tabindex="-1"` in t

[2017-12-28 15:25] ghosh commented on #61
Yup, seems like `aria-hidden="true"` needs to explicitly excluded from being selected.

[code]

Problem is this would need to be set for all selectable elements. Seems like globally omiting `aria-hidden="true"` does not work.

[2017-12-28 22:54] arturi commented on #61
Shall I send a PR with `:not([aria-hidden]` in every selectable element? Or shall we think on some other solutions? Could also loop through `nodes` after `querySelectorAll` to remove those with hidden attributes, but that might be slower / more verbose code.

[2017-12-31 09:09] kalpeshsingh commented on #61
In my opinion, adding `:not([aria-hidden]` in every selectable element should be last option. I will check on this if we can get something clean to fix this problem.

[2018-01-10 17:42] ghosh commented on #58
@nadeemja I can't reproduce this issue. Are you still having this problem?

[2018-01-11 09:45] nadeemja commented on #58
No :)

[2018-01-11 16:24] ghosh commented on #58
Great to hear that.

[2018-01-11 16:24] #58 closed

[2018-01-13 18:18] #26 closed

[2018-01-13 18:18] #59 closed

[2018-01-13 18:18] #61 closed

[2018-01-13 18:22] ghosh commented on #61
This should be fixed in **0.3.0**

@arturi - Would have asked you for a PR, but it was a very small change. So I changed it myself.

@kalpeshsingh There were actually just 4 elements which I needed to add it too. If you find a better way feel free to raise a PR

[2018-01-17 00:49] arturi commented on #61
Thank you!

[2018-01-25 09:01] 4esnog opened #65 "Add ability to pass Element itself to targetModal, not only 'id' of element"
Hello!

I am using shadow DOM, and if my modal is hidden inside it, `document.getElementById('id-of-shadowed-element')` can't select my modal.

I think, it would be handy to have the ability to pass not only id of element, but the element itself in `options.targetModal`.

Example:
[code]

[2018-01-26 19:43] zoxon opened #66 "Add option for open class name"
For more flexibility

[2018-01-29 06:49] zoxon opened #67 "Enable animation in default config"
Using html and css from [gist](https://gist.github.com/ghosh/4f94cf497d7090359a5c9f81caf60699)
[Demo](https://codepen.io/Zoxon/pen/BYBXYN)

[2018-01-30 15:08] ghosh commented on #67
Try this in the JS console
[code]

[2018-01-31 02:50] zoxon commented on #67
Thank you, it works.
This is a very strange option. Usually animations are enabled by default

[2018-01-31 10:14] ghosh commented on #67
Yes, agree with you. It feels awkward. Will change it in the next release.

Thanks for reporting!

[2018-02-16 14:02] DavidRouyer opened #74 "Version mismatch on npm"
The actual version on npm is 0.3.0 but the actual version of the package in the dist folder is:
`var version = "0.2.1";`

[2018-02-21 17:55] #67 closed

[2018-02-21 17:55] #74 closed

[2018-02-21 17:56] ghosh commented on #74
Thanks for the heads-up @DavidRouyer. This was an error on my side. Fixed now.

[2018-02-21 17:59] ghosh commented on #66
Thanks for the suggestion.

We considered adding that too. However, for the sake of simplicity, we dropped that idea.

Closing this issue for now. We are open to considering it and re-opening this issue if a lot of people demand for it.

[2018-03-01 21:50] affinitycreative opened #75 "Callbacks not firing when modals called programmatically?"
Hello!

I noticed when using, for example, `MicroModal.show('foo'); `callbacks written for the 'onClose' or 'onShow' event in the `MicroModal.init` function, don't fire... am I missing something?

I have tried programmatically opening a modal not seeing the `console.log` function fire, then when just clicking on the element with the 'data-micromodal-trigger' attribute it does work.

Thanks for rea

[2018-03-04 02:28] anthonygore commented on #75
I have the same issue.

[2018-03-04 15:17] anthonygore opened #84 "Getting ES module by default"
I just wrestled with a bug for the last hour where I was getting non-es5 code in my Webpack bundle. Turns out I was getting the ES module version of this library when I had this in my code:

`import MicroModal from 'micromodal';`

I was able to fix it by changing to:

`import MicroModal from 'micromodal/dist/micromodal';`

Is there something wrong in the package.json or am I just doing something w

[2018-03-05 11:23] kakadiadarpan commented on #84
Thanks for reporting this issue @anthonygore. I'll look into this

[2018-03-12 15:04] ghosh commented on #84
@anthonygore Hey, we released a new build which should have fixed this issue. Could you please confirm if it works. `0.3.2` is the version.

Closing this for now. Please feel free to comment below incase you need to.

[2018-03-12 15:04] #84 closed

[2018-03-12 15:13] ghosh commented on #75
@affinitycreative The `.show()` method actually instantiates a new modal. It is not meant to be used along with `.init()`

Using `.show()` enables you to open modals when you can-not/want-not to set up bindings between trigger nodes and the modal using `data-trigger`.

However, there is a way to get around this, by simulating a click on the trigger element to open the modal.
[code]

Hopes this cle

[2018-03-12 15:13] #75 closed

[2018-03-12 20:49] messinmotion opened #86 "Double Modal"
I have a case where I need to trigger a modal from inside another modal to be placed on top temporarily.

current:
#mymodal > #other-modal-trigger

but #other-modal comes to view _UNDER_ #mymodal

[2018-03-12 20:52] messinmotion commented on #86
![](http://g.recordit.co/IH4yT1fepn.gif)

[2018-03-12 20:55] ghosh commented on #86
Hi @messinmotion. Unfortunately, we currently do not handle this scenario yet.

Its difficult to figure out the exact problem without looking at the code. However, you could try a couple of approaches:-

-  Apply different `z-index` to the modals in css
- Try changing the order in which the modal markup is included

Closing this for now. Feel free to comment if you need to.

[2018-03-12 20:55] #86 closed

[2018-03-13 17:44] messinmotion commented on #86
Thank you, I have addressed this using a data attribute to quickly add or substract z-index.

[2018-03-20 14:02] MariusBarnard opened #87 "this.activeElement is null on dialog close (IE 11)"
Opening and displaying a dialog using javascript works correctly.

Can't close the dialog due to this.activeElement being null.

This line fails, this.activeElement.focus() in the closeModel function, causing the dialog to remain open.

[2018-03-20 14:20] kakadiadarpan commented on #87
@MariusBarnard are you closing it using `MicroModal.close('modal-id');`?

[2018-03-20 16:07] MariusBarnard commented on #87
Dialog is shown using MicroModal.show('modal-id').

To close the dialog, using the data-micromodal-close attribute on close button on the dialog.

[code]

[code]

[2018-03-20 16:15] MariusBarnard commented on #87
By changing line 137, the dialog closes in IE 11 using the close button on the dialog

[code]

Add null check before calling
[code]

[2018-03-23 20:06] diomed opened #88 "blue"
why is there that blue mark on closing cross, after opening?
can that be removed?

[2018-03-26 12:36] ghosh commented on #88
@diomed According to WAI ARIA practices, after opening the modal the focus should move to the first focus-able element. In this case it is the close button. The blue outline is the browser default styles for indicating the active focused element.

If you really do want to remove that, there is a configuration property called `disableFocus` you can pass when initializing the modal. To read more abo

[2018-03-26 12:36] #88 closed

[2018-04-14 16:22] maracuja-juice opened #94 "Add React Component(s)"
It would be really nice if this library provided a (set of) React component(s)

[2018-04-26 19:07] codev0 opened #95 "Error in my build system"
Hey, I've caught error, when tried to use this plugin.
Error trace
[code]
Gulp config https://gist.github.com/codev0/15dd75634e81a1ae0c59a2a5974c3c0b

devDependencies related to es6
[code]

[2018-05-15 14:16] martinhellwagner commented on #87
Any news on putting this in the repo? Seems like a valid solution.

[2018-05-29 20:44] erwstout commented on #87
I believe I'm having this same issue in Edge as well.

[2018-05-29 21:28] erwstout opened #101 "Body does not unlock on Edge/IE11"
It appears that when using body locking to disable scroll, when the modal is closed it does not unlock. I took a look at the source code and it appears that the library is using `Object.assign` for this functionality. I added a polyfill for Object.assign to see if that solved it, but it does not. I'll try to dive in more when I get a chance and create a PR if possible - but if anyone has any sugge

[2018-05-31 15:59] erwstout commented on #101
Addressed this with PR #102

[2018-06-05 02:52] kalpeshsingh opened #105 "Disable ESC key to close modal"
**Use case** - User wants to use micromodal to display a "We use cokies" message and don't want visitors to close the modal until they agree or disagree

Ref. https://twitter.com/imariohernandez/status/998704962212265984

[2018-06-05 03:12] kalpeshsingh commented on #94
Hey @maracuja-juice ,

We have plans to make Micromodal in React and Vue.

It will take some time to cover all that. Seeking your patience here. :D

Parking this issue for now, we will update you as soon as we roll out that.

[2018-07-04 03:09] biglobe opened #107 "Modal opened by trigger cannot be closed by function close()."
From what i can understand so far, any modal opened by trigger cannot be closed by javascript function close().

One of the problem is... as specified in https://micromodal.now.sh, function close(id) is available, however in the codes, close function does not take in any parameter. Instead it closes whichever modal is in variable activeModal.

The underlying issue is that activeModal is not set wh

[2018-07-11 04:10] Grabes commented on #107
Created pull request #108 that resolves the issue with activeModal not being set when modal us opened using the trigger.

[2018-07-18 15:57] Silisav commented on #49
Hello, has anyone discovered if there is a way to fully support ie11?

[2018-08-03 19:21] artemartemov opened #109 "mobile actions"
hey there, fantastic plugin! I was wondering is there any way to add any kind of mobile interactions? possibly a swipe to close action?

[2018-08-07 17:28] ytmagalhaes opened #110 "TypeScript type definitions"
Hi there!

Our company is using micromodal for popups and we are using `Vue + TypeScript` so it would be nice if we could get some `@types` added for better TypeScript support as right now we get a bunch of errors from our IDEs. It's worth noting it works fine, it's just the IDE doesn't know what to do with it.

Getting them added to [DefinitelyTyped](http://definitelytyped.org/) would give the pl

[2018-08-17 09:25] roebuk opened #112 "MicroModal.close() does not accept an ID selector"
Hi,

Within the documentation `MicroModal.close` is documented that it takes a string for the ID of the modal is should perform the close on. Yet, within the code, the `close` function disregards this argument and calls `activeModal.closeModal();`

Would be is possible to allow `MicroModal.close` to accept an ID selector and close the modal where the ID matches?

[2018-08-24 11:16] zabusm commented on #49
replace $.extend with Object.assign in the script or use a Object.asign pollyfill for ie

[2018-09-01 16:36] kakadiadarpan opened #114 "Minifier is deprecated"
Let's stop using [minifier](https://github.com/fizker/minifier) as it is deprecated. We should be able to replace this using uglify.

[2018-09-07 14:14] MatTheCat opened #117 "Enabling scrollBehaviour should remove inline styles"
[Line 91](https://github.com/ghosh/micromodal/blob/master/src/index.js#L91)

[code]

means any height/overflow set by CSS is overriden when a modal configured with `disableScroll` closes. Why not removing these by setting them to an empty string?

[2018-09-11 00:00] pablo-sg-pacheco opened #118 "A project with Micromodal"
Hi guys,
Thanks for this awesome library!

I just want to tell you I'm using Micromodal on my recent released project (Popup Notices for WooCommerce):
https://wordpress.org/plugins/popup-notices-for-woocommerce/

It's a plugin for WooCommerce that replaces notices by modals.
I don't know if you are familiar with WordPress but anyway thanks!

I added Micromodal credits there.
I hope my project can

[2018-09-22 06:25] preethivangaveti opened #119 "while scrolling in iphone cursor is also scrolling sometimes"
![1dd2f6d0-901d-4c10-bb43-624588d05fd2](https://user-images.githubusercontent.com/37062211/45914141-5e1d9380-be5e-11e8-823d-8b181f883b2c.png)

[2018-09-25 05:37] qrac commented on #49
Hello, I could support IE 11 by writing code to solve `Object.assign` and `Array.from ()` before "micro-modal".

[code]

[2018-10-04 18:28] pomartel opened #130 "Original event is not available for onShow and onClose"
The original event that triggers the opening and closing of the modal is not passed to the `onShow` or `onClose` function. This is useful information for my project (ie. need to read a data-attribute on the link that opened the modal) so I added the functionality to my repo in this commit: https://github.com/pomartel/micromodal/commit/daf4a43568c08c7fce3d7f8cd2bd0a62bdc556cf

I can bundle this in

[2018-10-07 19:17] gautamz07 opened #131 "development question [NOT AN ISSUE]"
Hey guys , while developing the plugin , do you guys directly import the index.js file from the src directory and work on it in the latest chrome ? i believe, if your developing a plugin , you want to see how your source code work instead of your compiled code , so how do you go about having the index.js written in ES6 work in any modern browser ?

Any insights on this would be highly appreciated.

[2018-10-11 20:53] bradley-varol opened #132 "Prevent user from closing modal"
I'd like to temporarily prevent the user from closing the modal by clicking the overlay. Is this possible?

Also, is there a way for me to open a modal while a previous modal is already open and have the previous one close? I tried to loop through all but the current `.modal.is-open` elements and `.close()` them from inside the `openTrigger` callback but wasn't successful:
[code]
`Cannot read prop

[2018-10-16 08:25] srikanthcx opened #133 "Cannot close modal by MicroModal.close(modal.id);"
cannot close or open modal by using Micromodal module in React

MicroModal.close(modal.id);

[2018-10-23 13:34] donbot-inc commented on #133
Same problem:
[code]

[2018-10-23 13:41] donbot-inc commented on #112
Reference #133

[2018-10-26 03:15] iantbarker commented on #105
I would like this feature as well. I understand the concern about accessibility but I would like to use a modal that user is unable to close until they perform an action.

[2018-10-26 07:38] cyrilchapon opened #134 "Auto opening / closing with triggers doesn't update activeModal"
`activeModal` variable is only filled by "manualy" opening and closing modals (`Micromodal.show()`, `Micromodal.close()`).

Thus, when a dialog is opened with a trigger, calling `Micromodal.hide()` throws.

[2018-11-05 20:59] Larzans commented on #49
@qrac awesome, thanks, that worked like a charm!

[2018-11-06 14:05] kgoedecke commented on #133
Workaround if you use jQuery:
[code]

[2018-11-09 16:34] openbrian opened #136 "Modals for dynamic content"
We have HTML content that's added to the page dynamically.  It would be nice to initialize modals for just this tree of elements.  We could initialize the entire document again, but doesn't that add multiple triggers ( triggerMap[targetModal].push(trigger); )?

Would something like this work?

- var triggers = [].concat(toConsumableArray(document.querySelectorAll('[' + options.openTrigger + ']')))

[2018-11-09 16:45] openbrian opened #137 "Can you tag your releases please"
I need this because I use your project as a git submodule and I want to pin your project at 0.3.1 (for now).

Until then I'll pin to a commit.

[2018-11-09 17:39] ukutaht opened #138 "disableScroll: true on mobile still scrolls the body."
First of all, thank you for a great library!

I'm running into an issue with disableScroll on mobile. It seems to have no effect only on my iPhone 8. Works perfectly on desktop and on Chrome devtools iphone simulator. Haven't tried with the xcode simulator yet.

![ezgif-3-a92a170d128b](https://user-images.githubusercontent.com/3731516/48278486-934d6780-e445-11e8-8ec6-21810ee479c5.gif)

The same mo

[2018-11-14 14:20] kud opened #139 "Could be a node instead of a string of an id"
https://github.com/ghosh/micromodal/blob/bc03d6d972caf11dccff557eadcd00b7ab75b2f3/src/index.js#L34

[2018-11-28 21:23] djonatanb opened #142 "Can't use js close without js show"
I'm not sure I'm correct on this, but it seems that the only function that is population the variable activeModal is the show function. That means that I can't use MicroModal.init() and call MicroModal.close().
Is that intentional? it's not exactly what the demo page in the https://micromodal.now.sh/#usage page. Can you please confirm?
https://github.com/ghosh/micromodal/blob/bc03d6d972caf11dccff5

[2018-11-29 17:10] djonatanb commented on #142
The only way I got it to work was by running:
MicroModal.show('modal-id'); // [1]
MicroModal.close(); // [2]

That works because .close does not search for the activeModal, it just uses the one already saved in the variable activeModal. By running `.show()` the code gets the modal and then the close will work.

[2018-12-04 02:02] kalpeshsingh commented on #114
I will take a look. Thanks Sir.

[2018-12-06 13:17] kakadiadarpan commented on #114
I can help if you want 😄

[2018-12-29 04:43] JZL opened #152 "Z-Index of modal__overlay"
Hi,

I'm not sure if this package is still maintained but I'm finding it very useful - thanks!

In my testing, sometimes the overlay fails to cover all elements because these other elements have manually-set positive `z-index`. An easy fix which could just be addressed in the demo `micromodal.css` gist (which I'm happy to submit a PR for) is to set the z-index of the `modal__overlay` to be some la

[2019-01-09 11:58] nicklee commented on #49
Thanks for the above fix!

Worth mentioning that you could also include baby-polyfill ( https://babeljs.io/docs/en/babel-polyfill ) or es6-object-assign ( https://www.npmjs.com/package/es6-object-assign ) to get this working in IE11!

[2019-01-09 14:45] WORMSS opened #163 "Ignore the focused element state after closing the modal"
Hello, we have a strange situation where the modal is returning focus to the button that opened it, but the button was on a menu that has hidden itself away (correctly), so when it closes, it is forcing that button back into view but destroying the layout of the rest of the menu in the process by changing the scrollTop of an element that should never be moved.

When I open the modal, is there anyw

[2019-01-16 14:22] theorlan2 commented on #142
Hello,
I solved it by editing the source code on "import MicroModal from 'micromodal/src'" in the method 'showModal' adding 'activeModal = this;'

`showModal() {
/* Add this  -> */
activeModal = this;
}`

The problem is that you have to change the source code in each installation of the package.

[2019-01-27 12:10] doanguyen opened #166 "Single modal is allowed"
Hello,

I just have a small question regarding a specific case, I wanted to implement only one modal at a time, if other modal is triggered, the current modal is close make way for the new modal.
Do you have recommend on how to implement this?

Thank you.

[2019-01-29 08:01] ghosh commented on #166
Sorry, we do not support this right now. A question to you - in which scenario would you want to do something like this? Typically, clicking on anything apart from the modal, when the modal is open should cause it close.

[2019-01-29 10:48] doanguyen commented on #166
Thanks for the reply,

I had come up with the same solution, just for travellers who have the same interest, what I've done is adding these 4 line on top of showModal method in Modal class:

`var opened = document.querySelectorAll('.m,odal.modal-slide.is-open');
opened.forEach(function(element){
    element.classList.remove('is-open');
});
`

Anyway, thanks for a great library.

[2019-01-29 10:48] #166 closed

[2019-01-30 15:56] DanielRuf opened #167 "Current project status"
Hi, what is the current status of this project? Is it still maintained?

[2019-01-30 20:14] rubenslopes opened #168 "fail to install yarn packages with node 10.x"
error upath@1.0.4: The engine "node" is incompatible with this module. Expected version ">=4 <=9". Got "10.15.0"

any change to upath be bumped or something like that?

in the meantime all rollback my nodejs

[2019-01-31 19:44] ghosh commented on #168
Yup, working on a fix. Should be fixed in next release.

[2019-01-31 19:45] ghosh commented on #167
We intent on maintaining this. Was burnt out for a most part of last year. Working on closing out these issues soon.

[2019-01-31 19:45] #167 closed

[2019-01-31 19:46] ghosh commented on #152
Would be happy to accept a PR.

[2019-01-31 19:48] ghosh commented on #142
Thanks for pointing this out. Will merge PR soon.

[2019-01-31 19:58] DanielRuf commented on #167
Ok thanks for the info and no rush. Just wanted to know if there will be updates in the future. And I often also recommend moving such big (number of stars and downloads) to an org account and add a few more maintainers.

[2019-01-31 19:59] DanielRuf commented on #167
Ok thanks for the info and no rush. Just wanted to know if there will be updates in the future. And I often also recommend moving such big projects (number of stars and downloads) to an org account and add a few more maintainers.

[2019-02-01 16:02] wcarson commented on #110
I took a shot at the type definitions. Follow the progress here: https://github.com/DefinitelyTyped/DefinitelyTyped/pull/32693

[2019-02-06 08:08] ghosh commented on #167
Agree. Will probably do that.

[2019-02-08 17:54] wcarson commented on #110
The type definitions are now available via NPM (@types/micromodal)

https://www.npmjs.com/package/@types/micromodal

This one can probably be closed.

[2019-02-08 18:00] ytmagalhaes commented on #110
Thank you so much! That was so cool! We're definitely installing this as soon as we can and using it! Closing the PR 😄

[2019-02-08 18:00] #110 closed

[2019-02-12 17:27] vonPiernik commented on #133
This does not change aria-hidden to true so may cause accessibility issues. @djonatanb solution with using show() works ;)

[2019-02-21 10:36] klickreflex commented on #138
I ran into the same problem and got it solved by using a package called [scroll-lock](https://github.com/FL3NKEY/scroll-lock), maybe this helps people coming here.

I simply call it in MicroModals `onShow` and `onClose` listeners:

[code]

It si supposed to automatically make children of the scrollable item scrollable, too. However, this didn't work in my use-case, but I got around by explicitly s

[2019-02-21 18:31] lkopacz commented on #94
Wanted to see if there was an update for this, or if any help was needed?

[2019-03-01 09:28] front-stream commented on #87
Any news?

[2019-03-01 19:27] kelenakamura commented on #95
did you ever fix this? we're seeing same issue on a windows machine. seems fine on all the macs we've run this on.

[2019-03-06 20:29] missmatsuko commented on #142
@ghosh Will this be fixed soon?

[2019-03-14 07:51] webzlodimir opened #176 "How to turn off the closing of the modal window when clicking on the backdrop?"

[2019-03-14 10:09] kakadiadarpan commented on #176
@webzlodimir If you don't add `data-micromodal-close` attribute to the overlay div, it would not close when you click on the backdrop.

[Usage Documentation](data-micromodal-close)

[2019-03-14 10:11] webzlodimir commented on #176
Thnx!

[2019-03-14 10:11] #176 closed

[2019-03-16 11:03] paschalidi opened #177 "Missing `img` on README.md"
Loving the lib and the simplicity!

This is not a crucial issue but if I was you, who is getting lots of attention at the moment with this library I would pay attention to this detail.

The first image of the README.md
[code]
is missing.

Let me know how I can help you with that and I would be glad to do so.

[2019-03-19 08:57] OwenMelbz opened #180 "Correct focus on modal opening"
Hi,

Liking the package, however when running it through an accessibility audit, several points came up.

E.g. the problem described https://alphagov.github.io/accessibility-tool-audit/test-cases.html#content-first-instance-of-abbreviation-not-expanded under the "lightbox" section.

When opening a modal, the focus should almost immediately change to the new context so that a screen reader can anno

[2019-04-01 18:20] slowernet commented on #132
Per #176, this can be done by removing the `data-micromodal-close` attribute from the overlay element.

[2019-04-02 07:10] kakadiadarpan commented on #132
Thanks for the help @slowernet!

@bradley-varol Please refer to this [comment](https://github.com/ghosh/micromodal/issues/176#issuecomment-472785589) on #176

Please reopen this issue if you need more help

[2019-04-02 07:10] #132 closed

[2019-04-02 07:31] bradley-varol commented on #132
Much appreciated guys 👍

[2019-04-04 08:42] 4nd3r5 commented on #105
Does anyone have a solution for this, a hack or similar?

[2019-04-11 06:19] QJan84 commented on #75
That works if a button is present, which opens the modal. If there is no button, `click()` will not work.
It would be helpful if there is a solution. I call a modal via URL parameter:

[code]

[2019-04-22 10:25] jukuan opened #182 "Issues when I close opened window"
Hi,

Thanks for your library. I'd like to tell about the issues I faced by:

1) It's not worked when a modal window on the page is opened by default (before JS).
The window does not close when I'm trying to close a window opened manually. As hotfix, I have to invoke `this.open()` method before `this.close()`, but it's strange because the window is opened already. Could you please add an 'init' met

[2019-04-23 07:00] kakadiadarpan commented on #182
Hi @jukuan, could you please provide a minimal reproduction of this issue?

[2019-04-30 02:59] MahbbRah commented on #130
YES YES, I'm in badly needs of this feature :(
I tried your updated codes didn't work. can you do readme so we can use that?

[2019-05-02 08:06] Antimated opened #187 "onShow and onClose not triggering when showing modal programmatically"
Whenever you show a modal programmaticaly with `MicroModal.show('modal-id');` you are not able to use the onShow and onClose methods as they don't trigger.
This only happens if you don't provide a `data-micromodal-trigger` element (which in this case I don't need). Any way to bypass this problem?

[2019-05-02 08:37] Antimated commented on #130
Very much in need of this

[2019-05-03 11:07] ghosh commented on #134
Fixed in #113

[2019-05-03 11:07] #134 closed

[2019-05-03 11:47] ghosh commented on #187
Thanks for opening an issue. Fixed in #113

[2019-05-03 11:50] ghosh commented on #177
HI thanks for the heads up. Its been fixed.

[2019-05-03 11:50] #177 closed

[2019-05-03 11:52] ghosh commented on #168
Was a problem of outdated dependencies. Fixed now.

[2019-05-03 11:52] #168 closed

[2019-05-03 11:53] ghosh commented on #142
Thanks for the patience guys.  Fixed in #113

[2019-05-03 11:53] #142 closed

[2019-05-03 11:56] ghosh commented on #152
Closing issue due to inactivity.

[2019-05-03 11:56] #152 closed

[2019-05-03 11:59] #138 closed

[2019-05-03 12:07] ghosh commented on #131
This library is used is a lot of contexts in different browsers and versions. Since our users are not using only modern browsers, it does not make sense for use to focus on running es6 in the browsers yet.

Cheers!

[2019-05-03 12:07] #131 closed

[2019-05-03 12:08] ghosh commented on #119
Seems like a styling issue.

Closing since this is out of the scope of this library.

[2019-05-03 12:08] #119 closed

[2019-05-03 12:09] ghosh commented on #130
@pomartel Would you be open to submitting a PR?

[2019-05-03 12:10] ghosh commented on #101
Merged PR. Thanks.

[2019-05-03 12:10] #101 closed

[2019-05-03 12:15] ghosh commented on #87
Fixed in 2a78c4d095f9d5bee691054591682a02c48e1def

[2019-05-03 12:15] #87 closed

[2019-05-03 13:47] pomartel commented on #130
Sure @ghosh , I'll have a look at it next week!

[2019-05-04 07:45] ghosh commented on #118
Hi @pablo-sg-pacheco Thanks for letting us know. Wishing you all the best.

[2019-05-04 07:45] #118 closed

[2019-05-05 23:00] ghosh commented on #133
Fixed in #113

[2019-05-05 23:00] #133 closed

[2019-05-05 23:02] ghosh commented on #117
Thanks for the suggestion. Fixed in latest release.

[2019-05-05 23:02] #117 closed

[2019-05-05 23:02] ghosh commented on #112
Fixed in #113

[2019-05-05 23:02] #112 closed

[2019-05-05 23:02] ghosh commented on #107
Fixed in #113

[2019-05-05 23:02] #107 closed

[2019-05-05 23:12] ghosh commented on #105
As a project we decided to take a stance on what a accessible modal should be. Disabling modal close on `esc` goes against this very belief. This is most likely will not become a part of this library.

Understandably, this feature could a deal breaker in some scenarios, however there are plenty of modal libraries which would fulfill this need.

[2019-05-05 23:14] ghosh commented on #109
Thank you. Nope, no functionality as yet.

[2019-05-05 23:14] #109 closed

[2019-05-06 21:06] ghosh commented on #95
@kakadiadarpan @kalpeshsingh Any thoughts on this?

[2019-05-07 10:05] kakadiadarpan commented on #95
@ghosh I can look into this

@codev0 It would really help a lot if you can provide a simple reproduction of the issue

[2019-05-14 13:36] zebapy opened #189 "prevent default event of open trigger event"
I have a modal and my open trigger is an link `a[data-micrmodal-trigger]`

It's a link so the no-js fallback can be a link to a normal page. The problem is micromodal does not seem to prevent the default action of the trigger so the modal opens then the page changes.

Any reason not to do `event.preventDefault()` on the open trigger?

[2019-05-15 09:54] ghosh commented on #189
@zebapy Fair point. Can't think of a scenario where `event.preventDefault()` would adversely effect the use case. Would be open to submitting a PR?

@kalpeshsingh Any thoughts on this?

[2019-05-16 07:04] gautamz07 commented on #163
@WORMSS can you create a isolated example or a jsfiddle ?

[2019-05-16 07:18] WORMSS commented on #163
I can indeed, but I wont be able to make it for while, I am so far behind in my current project it's unreal.

My work around currently is to
[code]
but due to the abstraction we have, the `openModel()` code may be nested, or the event is a vue 'emit' and may not have direct (easy) access to the `element` that triggered the code, so it's just a little messy.
Fair easier if we could just tell the mo

[2019-05-16 12:52] zebapy commented on #189
Looks like @gautamz07 opened one

[2019-05-16 14:01] ghosh commented on #163
@WORMSS This is an interesting case. When you mention "the button is hidden correctly", what exactly do you mean?

I'm not too keen to add an additional API to disable focus restoration. As a library we have taken a stance on what a accessible modal should be and this API can be easily abused.

However, this brings up an interesting case. We could conditionally disable focus restoration on element

[2019-05-16 14:09] WORMSS commented on #163
We are animating the button off screen (because everything has to look fancy nowadays), and this button has been animated behind a bunch of other elements and possibly off the bottom of the screen. (Eg, hidden away).

The elements are still within the dom, but from a UI/UX point of view, they are not seen by the user.
When we close the modal, it tries to do `this.activeElement.focus()` which cause

[2019-05-21 17:50] gautamz07 opened #192 "var instead of let ? any reason why ?"
was just scanning though the source code. Any reason you used var instead of let in places like these ( [link](https://github.com/ghosh/Micromodal/blob/master/src/index.js#L230) )?

[2019-05-21 17:51] ghosh commented on #192
Nope, there is no intentional reason for it.

[2019-05-21 17:51] #192 closed

[2019-05-22 20:03] zebapy opened #193 "listen for spacebar on trigger element"
As mentioned in https://github.com/ghosh/Micromodal/issues/189 I'm using an anchor link for my modal trigger (for no-js fallback). Though this is usually not recommended because keyboard users must press `enter` to trigger the link, it seems appropriate to still use the link for the fallback.

Because of this we want the trigger element to function as a button, which needs to support spacebar pres

[2019-05-22 20:05] zebapy commented on #94
Why do that instead of using https://github.com/reactjs/react-modal or https://ui.reach.tech/ modal?

[2019-05-24 18:30] gautamz07 commented on #193
@zebapy Can you make a small demo describing your problem ? make a fiddle ?

[2019-05-25 07:50] KCErb commented on #105
I have a solution and a hack:

### Solution
 The team is right! Don't try to prevent escape, it's not good UX. In your modal let the user know that ignoring or closing the modal brings with it default behavior. It's quite common to see something like this with respect to GDPR.

Consider Gitlab's homepage, at the bottom (today) there is a footer with cookie options and a button. "You consent to our

[2019-05-27 08:24] dawidurbanski commented on #87
I'm using 0.4.0 (which is the newest version at the time of writing this comment), I can see code from 2a78c4d being there, but the issue persist.

IE11

If any form is added inside modal, there is no way of closing it.

`Object doesn't support property or method on 'focus'`

[2019-05-28 05:59] shikkaba commented on #94
@zebapy why not do it?

[2019-05-28 13:12] zebapy commented on #94
@shikkaba reinventing the wheel, etc. I don't see anything in this lib that does accessible modal more successfully than the already existing react modal options. This is a great _vanilla_ js modal.

[2019-05-28 13:20] zebapy commented on #193
For elements that are modal triggers but not an actual button, I believe you should add `role=button` to them. Doing this means screen readers would insinuate that the user can press `spacebar` to trigger the modal as that's what `button` allows for.

https://codepen.io/zebapy/pen/LoBdRy

Repro:
1. Use tab to focus the open modal link and press spacebar.

Expected:
- Modal should open

Result:
- B

[2019-05-28 22:07] ghosh commented on #94
Micromodal accesses the DOM and does a lot of work under the hood which makes it an easy plug and play solution.

Since most code in React is declarative in nature, building this library in React would mean making choices which would greatly change the footprint and the "feel" of the library. It would in no way be related to how this library functions and would thus become just another react modal

[2019-05-28 22:07] #94 closed

[2019-05-31 07:43] kbudasov commented on #75
Still actual issue.

[2019-05-31 07:52] kbudasov opened #196 "Problems when trying to open/close programmatically"
When having only modal ID (without element with `data-trigger-attrribute`), modal callback doesn't work
(triggered `MicroModal.show('modal-id'); // [1]`)
Also, unable to close modal by triggering
`MicroModal.close('modal-id'); // [2]`

[2019-05-31 08:39] kbudasov commented on #196
To clarify the situation: yes, I can use "custom" callbacks; but still unable to extend standard config (provided in Global Init function)

[2019-05-31 21:11] caiotarifa opened #197 "Close modal opened by data-"
I commented it on the pull request #113 but I opening a new issue to provide a solution for this error:

[code]

Well, I am using with [Turbolinks](https://github.com/turbolinks/turbolinks).

[code]

[2019-06-03 15:08] kun101 commented on #105
I had the same problem when using Micromodal.js, like, 5 minutes ago,
if you don't want to download the library or go to change the source code,
<b><i>I have a hack that works even on the CDN version : </i></b>

I do this in two steps :
1) Prevent closing the dialog on clicking the <b>"Modal Overlay"</b>.
2) Prevent closing the dialog on pressing the escape key.

<b>I think it is number 2 which yo

[2019-06-05 15:50] cojaco commented on #182
I think, I have the same problem.
To illustrate the problem, I forked a fine working example on Codepen.
The original: https://codepen.io/scalblog/pen/ERzzVE
my Fork: https://codepen.io/cojaco/pen/qGGWJr
here I simply add the class is-open, and set aria-hidden="false".

Now the modal is open on page entry but it can't be closed.

[2019-06-10 16:00] zebapy commented on #193
I opened a PR. I will note you could consider this an accessibility issue and should be added in case people use non-buttons for trigger elements.

[2019-06-14 17:14] vacoup95 opened #209 "What a dumb piece of shit..."
Really there's nothing you can do with this piece of garbage. I thought there was supposed to be a fucking way (by default) to pass a parameter. But either, you didn't document that or it is not possible. So in other words, I wasted 2 hours trying to make this garbage work properly.

My issue: why can't I simply create a modal, pass an ID to it when it's opened. And when you click a button execute

[2019-06-14 17:27] leeoniya commented on #209
you definitely deserve a full refund...oh wait.

[2019-06-14 17:30] vacoup95 commented on #209
yeah... refund my time. or at least say on the page in <h1> that this library cannot do anything usefull..

[2019-06-17 13:12] ghosh commented on #209
@vacoup95 I can understand that this might have been an inconvenience to you.

However, please realise that we maintain this library in our free time and it is not possible to have every feature available out of the box.

Opening an issue and requesting a feature is enough to get it considered for a future release.

Please be kind and have some respect for OSS maker’s and maintainer’s time and eff

[2019-06-17 13:13] #209 closed

[2019-06-19 23:16] sashahohloma commented on #130
I think, i found solution by using other method - `show(id, options)`
You can use this method with you custom data-attribute, also you need add eventlister for this elements.
Check my ES2015 compatible example:

[code]

If MicroModal was called this way, you can use `MicroModal.close('data-custom-selector')`

[2019-07-08 08:11] geosigno commented on #95
you can fix this issue by adding:

`exclude: /node_modules/,`

in your webpack.config.js

[2019-07-11 20:37] mrmathewc commented on #196
Also had issues with this. A workaround was I added an ID to the close trigger, then just executed `$('#modal-close').click();` where necessary, in my case was on Ajax success.

[2019-07-18 12:18] julkue opened #216 "Form element blur on modal overlay triggers close in Chrome only"
I'm showing a form within my modal. When selecting the text in e.g. a text field, and stopping the selection over the modal overlay, the modal closes in Chrome. In Firefox, however, it doesn't close.

![ezgif-4-621e8e6d3fe2](https://user-images.githubusercontent.com/8310677/61456597-c77b0f80-a966-11e9-937d-026005eab530.gif)

It doesn't close the modal if the blur event is happening inside the moda

[2019-07-21 12:26] ghosh commented on #216
@julmot That is the expected behavior. Click outside the modal **should** close the modal.

[2019-07-21 12:32] ghosh commented on #196
Closing as duplicate of #197. Will be fixed in next release.

[2019-07-21 12:32] #196 closed

[2019-07-21 12:35] ghosh commented on #182
Unfortunately, there is no way for the modal to know that a modal is already open on page load. What you are trying cannot be achieved with this library.

In an effort to keep the bundle size small, we will not be supporting this feature. There are many other modal libraries which would help you out with this.

Thanks for trying out Micromodal.

[2019-07-21 12:35] #182 closed

[2019-07-21 12:37] ghosh commented on #136
Thanks for opening this isssue. As of now this library does not have this feature. Will try and include it in a next release.

[2019-07-21 12:38] ghosh commented on #139
@kud, I do not understand what you mean. Could you explain it in more detail?

[2019-07-21 15:52] #193 closed

[2019-07-21 15:53] #197 closed

[2019-07-22 09:36] kud commented on #139
Hey @ghosh , sorry, it's not well explained.

There, `this.modal = document.getElementById(targetModal)` you're asking for `targetModal` as a string of an id.

I would like to be able to give a node instead of a string of an idea, like

`document.querySelector("my-selector")`

It allows the user to give anything they want as node, instead of necessarly an id.

[2019-07-22 09:38] ghosh commented on #139
hmm..ok fair point. Will consider this. Thanks for opening an issue.

[2019-07-22 09:39] kud commented on #139
No worries, thank you so much :)

Most of libs give the possibilty to enter either an id either a DOMNode. It's useful for beginners and advanced developers IMO.

[2019-07-22 09:43] kud commented on #139
`this.modal = typeof targetModal === "string" ? document.getElementById(targetModal) : targetModal`

[2019-07-22 21:49] julmot commented on #216
It's not *click* I'm referring to, I'm referring to *blur*!

Just open the [demo page](https://micromodal.now.sh/), select text in chrome and stop selecting it while having the mouse cursor over the overlay (not the actual modal). Then you'll notice, that this will close the modal even though it's not a click. On top, it's Chrome specific.

[2019-07-25 11:10] ignazkevenaar opened #221 "Modals opened by script cause error because of a non-existant `event`"
Modals opened by script cause error because of a non-existant `event` in the `showModal` function.
The function is called without arguments in the `show`-function.

Could it be as easy as just checking for `undefined`?

[2019-08-01 14:35] KonradHoeffner opened #223 "Documentation Example is Missing modal Class"
I am trying out Micromodal for the first time and the example at `https://micromodal.now.sh/#configuration` does not work because it is missing the .modal class.

I think `<div id="modal-1" aria-hidden="true">` should be `<div id="modal-1" class="modal" aria-hidden="true">`.

[2019-08-01 15:07] Newbrict opened #224 "disableScroll: true changing scroll position"
Hi - Great project!

One issue I am seeing on my page [sensor.fyi](https://sensor.fyi/mice) is when I open any modals with the `disableScroll` set to true it will change the scroll position while the modal is open. Modals on this page are opened by clicking the
![image](https://user-images.githubusercontent.com/1683041/62304648-6403de00-b44c-11e9-966d-28764c879b98.png)
icons

This is normally not

[2019-08-03 11:07] sectsect commented on #49
## Solutions
version: 0.4.0

1. Transpile the module with Babel by modifying the `exclude` property in your webpack config.
[code]

2. Or, Add a partial polyfill modules in core-js manually.
[code]

[2019-08-14 19:43] zebapy commented on #189
@ghosh I thought this was merged but I still have the same problem with 0.4.0. Here's reproduction https://codesandbox.io/s/micromodal-bug-wnibs

[2019-08-19 06:51] ghosh commented on #189
@zebapy, yes its merged but not yet released. Working on some other things to release with this.

[2019-08-20 17:47] besimhu commented on #187
@ghosh this is broken in the latest version I tested. The `onShow` and `onClose` do not register.

[2019-08-21 04:37] A-Circle-Zhang commented on #152
should do that, very common situation.

[2019-08-21 21:41] JZL commented on #152
Thanks @A-Circle-Zhang , I forgot about this. Submitted the simple 1 line PR, am happy to discuss more

Thanks!

[2019-08-26 12:03] julmot opened #232 "Enabled scroll when nested modal is closed"
When closing a second level modal, the scroll is enabled (`disableScroll`) again, even though a first level modal still exists. There must be a check whether another modal exists before enabling it. Otherwise it won't support nested modals.

[2019-08-26 12:18] julmot opened #233 "Closing a nested modal will also close the other"
Imagine the following situation:

Two modals, one above the other. Let's call the modal that overlapps the other modal A, and the overlapped modal B.

When closing modal B programmatically using `microModal.close('the-id')`, then this will not only close modal B, but also modal A. After digging into the code a  little bit I think the reason is that the plugin stores an instance of "activeModal", w

[2019-08-28 14:48] glenpike commented on #187
Workaround here is to pass in the config to MicroModal.show, e.g.

[code]

[2019-08-29 12:53] crtl commented on #65
Is this still on the radar?

[2019-09-05 03:50] ghosh commented on #233
@julmot Appreciate you opening this PR.

However, in the interest of keeping this library lightweight and simple, we would not be adding support for nested modals. If over time demand for this feature grows, we could consider this again.

[2019-09-05 03:50] #233 closed

[2019-09-05 03:51] ghosh commented on #232
@julmot Appreciate you opening this PR.

However, in the interest of keeping this library lightweight and simple, we would not be adding support for nested modals. If over time demand for this feature grows, we could consider this again.

[2019-09-05 03:51] #232 closed

[2019-09-05 03:57] ghosh commented on #221
This error was being caused by another piece of code which has been fixed now.

[2019-09-05 03:57] #221 closed

[2019-09-05 08:41] coenvc opened #242 "CDN is offline"
We are using the CDN for multiple projects but it is currently offline

[2019-09-05 08:47] kakadiadarpan commented on #242
@coenvc Which CDN link are you using?

[2019-09-05 08:49] coenvc commented on #242
Hey @kakadiadarpan i'm using this one: https://unpkg.com/micromodal@0.4.1/dist/micromodal.min.js

[2019-09-05 08:53] nc-jhof commented on #242
We are also badly affected by this. When can we get this url up again?

[2019-09-05 08:56] kakadiadarpan commented on #242
Can you guys switch to [JSDelivr](https://cdn.jsdelivr.net/npm/micromodal/dist/micromodal.min.js) for now?

It'll take us some time to get it back up.

[2019-09-05 08:58] nc-jhof commented on #242
Our application requires a deploy package in order to change the url in the code and this can take up to a day. We are still badly blocked by this.

[2019-09-05 08:59] ghosh commented on #242
Sorry for the outage guys, we are working on fixing this.

[2019-09-05 09:25] ghosh commented on #242
The CDN link should be back up now. Here is the latest link available on unpkg - https://unpkg.com/micromodal@0.4.2/dist/micromodal.min.js

[2019-09-05 09:25] #242 closed

[2019-09-05 09:45] nc-jhof commented on #242
@ghosh Can you also get 0.4.1 up as well?

[2019-09-05 10:06] ghosh commented on #242
hmm... I'm not sure if that's possible. @kakadiadarpan Thoughts?

[2019-09-05 11:17] kakadiadarpan commented on #242
@nc-jhof `unpkg` delivers everything from npm. So, it is not possible to publish the already published version. You'll have to update to `0.4.2`

[2019-09-05 14:01] jhof-nc opened #246 "IE 11: Syntax error"
Hello,

Thank you for the great library for accessibility. We are happy users, but today after CDN went unavailable, MicroModal library gets "Syntax error" in IE 11 and as a result, the JS library is not imported. It is crucial for our business to run this library on IE 11.

We get the error on character/column 202. Is there anything you can do to fix this?
By the way, my browser says that are emo

[2019-09-06 13:52] ghosh commented on #246
I'm not sure if this error was introduced with this update. Can you please check if it works with 0.4.0?

[2019-09-06 13:59] ghosh commented on #223
This library is purely functional and does not make any stylistic choices for you. You are expected to style it however you need. However, to get started there is an example you can copy - https://gist.github.com/ghosh/4f94cf497d7090359a5c9f81caf60699

Closing as not a bug.

[2019-09-06 13:59] #223 closed

[2019-09-06 14:01] ghosh commented on #49
Thanks for the pollyfill @qrac. Closing this solution and pointing to your answer as an official recommendation.

[2019-09-06 14:01] #49 closed

[2019-09-09 22:57] daltonrooney commented on #224
I was having this problem as well. Adding `overflow: hidden !important;` to the HTML tag when the modal is active fixed it for me.

[2019-09-16 14:31] itailitai opened #247 "Micromodal isn't defined (Only in IE11)"
The library works great on every browser except Internet explorer.
I get the following error:

in the follwing code:
[code]
whereas in every other browser I get no errors whatsoever, everything works flawlessly . I included some polyfills but still the issue persists.

[2019-09-17 06:08] ghosh commented on #247
Thanks for opening this issue. Will look into it it.

[2019-09-18 20:39] BrunoFenzl commented on #246
I can confirm this error in IE11 with micromodal 0.4.2.
The error happens because of the arrow functions.

[2019-09-20 16:42] vives927 commented on #246
I too had this error in IE11 with version 0.4.0. To fix it, I pulled the node package down into my project and ran it through browserify with babelify. When comparing the differences from the node module version to my compiled version, I believe it had something to do with the nested single quotes on line 264 and line 278:

Node module version (line 264):
`console.warn('MicroModal v' + version + '

[2019-09-21 22:41] Adoonq commented on #224
![image](https://user-images.githubusercontent.com/18928419/65379929-4844e780-dcd9-11e9-8ed8-29177d2e96c0.png)
This is due to centering and fixed height.
`body {justify-content: flex-start} `

[2019-09-24 17:48] douglas-johnson opened #248 "Touchstart Event Circumventing Link Hover Behvaior on iOS"
I am experiencing an issue in Safari on iOS 12.4.1 using an iPhone 8.

I have a menu where some items have a sub-menu. By default, the initial touch of a menu item with a sub-menu will trigger the hover state and show the sub-menu.

When I place that menu within a modal, the initial touch will follow the link immediately.

I found two options for fixing this, and I'm open to submitting a pull requ

[2019-10-04 09:19] IryArkhy opened #253 "Doesn't work with templates"
I'm using Handlebars in my project to add dynamic content on a page. Unfortunately triggering a micromodal in a template doesn't work. Method **MicroModal.show("id")** does not work either.

Template (passed js-micromodal-trigger="modal-two"  as an attribute):

At the picture
<img width="991" alt="Снимок экрана 2019-10-04 в 12 20 09" src="https://user-images.githubusercontent.com/46995636/66196519

[2019-10-11 07:42] stepanO commented on #233
it's not a feature, it's bug in the code, because when closing first modal the lib looks worked correctly, but it's not.

At least please add message to ReadMe about is not support nested modals.

I really frustrated because I have a lot of modals on Prod, but I need have just 1 modal which could open nested modal.

[2019-10-14 04:50] vaskar-nepal commented on #247
Hi,

Any update on this issue? Is their any timeline set for this issue.

Thanks!

[2019-10-16 11:05] ihsan-ofluoglu opened #255 "GulpUglifyError: unable to minify JavaScript"
micromodal Version 0.4.2
gulp-uglify Version 3.0.2

my package.json
![Screenshot 2019-10-16 at 14 03 15](https://user-images.githubusercontent.com/46676742/66913640-bdc47f00-f01d-11e9-8c46-9b66376c29fb.png)

![Screenshot 2019-10-16 at 14 01 16](https://user-images.githubusercontent.com/46676742/66913544-848c0f00-f01d-11e9-866b-1ce08bef1577.png)

Error:
![Screenshot 2019-10-16 at 14 06 23](https://

[2019-10-16 18:48] jotchon opened #256 "Two Modals on one page causes both modals to open"
If two modals with two different open buttons are on one page, it causes both modals to open when using the second button.  I thought the issue was creating unique open trigger data attributes, but I tested this and it still causes both modals to open when using the second button.  Would you have a solution to this?

[2019-10-17 05:16] ghosh commented on #256
@jotchon Thanks for opening this issue. Its hard for me to debug this without actually seeing the code. Seems to be that there might be a case of duplicate modal IDs.

If that is not the case, could you please create a simple test case on codepen?

[2019-10-17 05:20] ghosh commented on #253
@IryArkhy Thanks for opening this issue. Micromodal attaches events to all target at the time of initialization, there is no way for it know that new content has been added to the page and therefore it does not bind events to the new elements.

At this moment, I'm afraid this functionality is not available.

[2019-10-25 20:33] KevinWagnerWave commented on #49
This site overrides Array.from() with an implementation that doesn't support iterables, which could cause Google Maps JavaScript API v3 to not work correctly.

[2019-10-25 20:34] KevinWagnerWave commented on #49
Using qrac's polyfill.

[2019-11-05 19:30] ghosh commented on #95
Closing this issue now. Feel free to open if your still having issues.

[2019-11-05 19:30] #95 closed

[2019-11-09 10:05] smth opened #257 "Remove id="modal-1-content" from example"
I found it a slight distraction to ponder the purpose of `id="modal-1-content"` in the markup example. I came to the conclusion that it is a legacy of when the example also included `aria-describedby="modal-1-content"`. If this is the case, then for the sake of simplicity perhaps the `modal-1-content` ID should also be removed.

[2019-11-11 00:22] lauryneashby commented on #246
I noticed today the syntax error while testing in IE11 on Micromodal version 0.4.0.

**Error below:**

(SCRIPT1002: Syntax error micromodal.js (1, 166))

I updated to versions 0.4.1 and 0.4.2 (No luck in fixing the script error), I have reverted to version 0.3.2 for testing and all seems to be working fine.

Any suggestions in fixing the above error would be greatly appreciated!

[2019-11-12 13:57] HansCz commented on #49
+1 for @qrac solution

[2019-11-13 16:01] Richifg commented on #246
Had the same issue with IE. I'm working on wordpress project that uses a plugin which imports micromodal. Had to edit the plugin files to force it CDN the 0.3.2 version of micromodal.min instead of the latest.

Still, modifying a plugin is not recommend, so I'm really hoping this can be fixed on micromodal instead.

[2019-11-13 18:28] ghosh commented on #246
Noted. Will triage and fix this.

[2019-11-13 22:11] alljamin commented on #49
To expand a little bit more on the @sectsect Webpack solution, here is what I ended up with:

[code]
For this to work you need to have the following dependencies installed:
`npm i --save-dev @babel/core @babel/preset-env babel babel-loader core-js`

[2019-11-13 22:40] pjoulot commented on #130
I have found this issue because I was reading the documentation.

I have been through the code and it has been fixed already, but the documentation has not been updated :(

There is a pull request.  #258

[2019-11-14 07:01] ghosh commented on #130
Thanks @pjoulot. Seems like I missed this.

[2019-11-14 07:08] ghosh commented on #114
Has been replaced with terser. Closing this.

[2019-11-14 07:08] #114 closed

[2019-11-14 07:09] ghosh commented on #255
We now use terser with rollup to minify the code. Closing as outdated.

[2019-11-14 07:09] #255 closed

[2019-11-22 06:59] toastal commented on #180
Correct me if I'm wrong but, I think it should skip the `data-micromodal-close` when finding the first focusable element, and if one is not found, then feel free to select the close button so the user can press enter to close.

[2019-11-26 08:57] netfalo opened #259 "Question about showModal/onShow parameters"
Hi,

Is the click event intentionally not used in the showModal?

In the registerTriggers it is passed in, but it is not used in the showModal
registerTriggers:
`trigger.addEventListener('click', event => this.showModal(event))`
showModal:
`showModal () {`

It would be useful to know the triggering click event in the config.onShow.

In my usecase I need to modify the modal content during onShow.

[2019-11-28 14:53] matthew798 commented on #87
In my case, I get the same error as above only the `activeElement` is a `SVGSVGElement`... I am on 0.4.2.

[2019-11-28 15:18] matthew798 opened #260 "Dialog won't close in IE11 because this.activeElement doesn't implement focus()"
This is directly elated to #87

In my case, however, `this.activeElement` isn't null, it's of type `SVGSVGElement` which, in IE11, doesn't implement `focus()`.

My recommendation is to check if the element supports focus like this:
[code]

[2019-11-28 17:27] matthew798 commented on #260
I've created a PR to fix this #261

[2019-12-02 15:22] nordentwickler opened #268 "Adding Inline-SVG to close Button doesn't work."
[code]

While using something like tailwindcss, inline SVG's are a way to go. But using an inline SVG in a close button, **you can't click on the SVG**. No strange Styling applied. The "word" close is working.

[2019-12-02 23:40] eligrey opened #269 "`triggerMap` iteration is broken when `Array.prototype` is polluted"
Some advertising scripts pollute `Array.prototype` (e.g. `Array.prototype.clear`), which is iterated by micromodal in these two locations and ends up attempting to iterate over a function, leading to a TypeError.

https://github.com/ghosh/Micromodal/blob/master/lib/src/index.js#L267

https://github.com/ghosh/Micromodal/blob/master/lib/src/index.js#L290

Micromodal should use `Object.keys(triggerMa

[2019-12-03 16:45] YoshiMannaert commented on #246
Any update on this?

[2019-12-03 18:57] dsultanr opened #271 "draggable"
Hi!

is it hard to implement the draggability to this cool project?

[2019-12-04 15:39] davidhellmann commented on #246
Same error here :/

[2019-12-11 00:24] brifiction commented on #246
hi ghosh, i'm also experiencing same error for IE11 using micromodal@0.4.2.

[2019-12-15 18:25] alesvojta commented on #268
There will be probably some issue with event target handling. Adding [data-micromodal-close] on svg element could help a bit.

[2019-12-16 15:33] nathansmith commented on #246
We ran into this issue on a client project recently, so I was doing some local debugging.

From what I can tell, the `browserslist` doesn't appear to be affecting the `yarn` build.

Running `npx browserslist` at the project root shows that IE11 _**should**_ be supported.

But the output of the build to the `/lib/dist` folder still contains `=>` in the `*.min.js` file.

![micromodal_ie11_support](h

[2019-12-17 02:12] Twilliamson90 commented on #247
This is due to the production minified library containing arrow functions. Arrow functions are [not supported by IE 11](https://kangax.github.io/compat-table/es6/). In the short term, people can use [v0.4.0](https://unpkg.com/micromodal@0.4.0/dist/micromodal.min.js) of this library which does not use the arrow functions. If the author plans to keep IE 11 support then the babel config will need to

[2019-12-17 22:54] brifiction commented on #246
Reverted version back to v0.3.2 and confirmed working, thanks nathansmith. I've yet to know what ``npx browserslist`` usage (will research), but v0.4.2 still doesn't initialize or load in IE11 (no browser console errors seen on IE11).

[2019-12-18 17:06] b3u commented on #268
It's not just inline-svg; any child element has this effect for me.

[2019-12-18 20:01] alesvojta commented on #268
@b3u Yeah.
Another workaround could be to cover the children with transparent pseudo element.

[2019-12-27 09:20] doneself opened #273 "How to prevent close the dialog when clicking outside of modal box ?"
Can I set this attribute

[2019-12-27 09:26] kakadiadarpan commented on #273
Please check #176

[2019-12-27 09:26] #273 closed

[2020-01-17 14:43] vadholovin commented on #268
if you click on the icon in the button and nothing happens, then add css property 'pointer-event: none' for this one.

[2020-01-20 16:52] TidyLuke commented on #255
Hello @ihsan-ofluoglu & @ghosh , I'm currently seeing this issue now. Commenting out the import my process works, but not when MicroModel is imported. Did you manage to fix this @ihsan-ofluoglu ?

[2020-01-20 23:13] cnobile2012 commented on #196
I'm having the same close issue. I haven't tried the issue with a callback.

[2020-01-20 23:40] cnobile2012 commented on #197
I made a post on issue 196 but will give a more complete description here because it's a little different than this one.

This happens only when using a second button. Any second button will eventually need to close the modal, but executing `MicroModal.close('tag ID')` does nothing. I traced it through your code and it does execute the internal method `closeModal()` but does nothing and no errors

[2020-01-23 03:14] masudhossain commented on #136
Friendly bump reminder <3

[2020-01-26 09:48] eligrey commented on #269
Mitigation: Call `MicroModal.init(Object.setPrototypeOf(modalConfig, null))` to initialize MicroModal when `Object.prototype` is polluted.

[2020-01-27 22:52] elliottregan commented on #187
Yea, this is still broken in the latest version 0.4.2.

[2020-01-28 09:09] Raidri commented on #65
I push this because I need that feature too for my web components. Is there maybe any new informations?

[2020-02-01 23:17] jq-87 opened #286 "Add overscroll-behavior: contain to modal content"
This will prevent the underlying page content from scrolling when the modal content scroll has reached the end.

https://developer.mozilla.org/en-US/docs/Web/CSS/overscroll-behavior

The w3.org example does not use `overscroll-behavior` but the underlying page content does not scroll when the modal is active:
https://www.w3.org/TR/wai-aria-practices/examples/dialog-modal/dialog.html

Using `oversc

[2020-02-03 20:17] DimaGashko opened #287 "Modal window closes unexpectedly when 'mousedown' IN the modal and 'mouseup' on the background"
Here's a video: https://drive.google.com/file/d/150mGwQNYmXyfykiVVdkw1VhCKvBhfQ96/view

This is small but really annoying issue!

p.s. the easiest solution is replace 'click' event by 'mousedown' (probably)

[2020-02-13 14:34] karlis-dreizis commented on #15
#22 does not fix the case where you would open a new tab based on form data.
[code]
You can close the modal but the form won't submit.

@ghosh Whats the motivation to call `preventDefault()` anyway?

[2020-02-17 14:05] jmosbech commented on #130
@ghosh and @pjoulot The npm version and the code in master does not seem to have these changes. Am I missing something?

[2020-02-20 00:07] alljamin commented on #268
@vadholovin Just wondering, how is it working for you with `pointer-events: none`? Perhaps you can share a gist or a codepen.

[2020-02-20 10:50] simplenotezy commented on #187
I believe this functionality is broken as well :/

[2020-02-20 15:26] ghosh commented on #130
@jmosbech This is scheduled for the next release. This should not have been closed before.

[2020-02-20 15:32] alesvojta commented on #268
`[data-micromodal-close] * { pointer-events: none; }`

[2020-02-21 00:09] besimhu commented on #187
@simplenotezy  I switched to https://github.com/edenspiekermann/a11y-dialog and I need a working modal.

[2020-02-21 06:13] alljamin commented on #268
@alesvojta May be I am missing something but if you are restricting any type of interaction on any element inside the button, then you cannot open the modal until you trigger the close with `.close()` method.

[2020-02-21 07:05] alesvojta commented on #268
@alljamin Well, you are right by saying that it restricts any type of interaction on any element inside the button. But the button itself and only itself should trigger the event, the point is that the elements inside have different `event.target` and the close event wont work that way.

https://codepen.io/alesvojta/pen/XWbNrYB

[2020-02-21 08:54] simplenotezy commented on #187
@besimhu thanks. That looks lightweight as well. I figured I could just use my CSS frameworks modal (Bulma)

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-02-21 16:55] tklives commented on #66
I would love this option as well!

Reason being, I am creating a pattern library (i.e. mini bootstrap) and would like to drive consistency on what the open/active class name is across the various components of the library.

Again though, great work with this - it is a super useful library!

Cheers,
TK

[2020-03-03 21:34] DimaGashko opened #295 "Focus trapping with hidden interactive elements"
Hi! I really like that you lock the focus inside the modal, but I've just found that if there are any hidden buttons (display: none in my case), then we can go out of the modal, and focus behavior becomes confusing.

p.s. I found it making a modal window than contains hidden "try again" button.

[2020-03-04 08:40] krisnaw opened #296 "Bootstrap like data binding"
how to pass data from the button to the modal? Like data binding on bootstrap 4 modal

[2020-03-05 23:03] twd3 opened #298 "Pause or Stop YouTube Video on Modal Close"
I'm having a really hard time getting this done. Can you point me in the right direction?

[2020-03-06 08:56] kakadiadarpan commented on #298
You can do that by defining what to do in the `onClose` handler. Check the documentation here: https://micromodal.now.sh/#configuration

[2020-03-06 08:56] #298 closed

[2020-03-06 23:13] twd3 commented on #298
If anyone needs to stop videos from playing on modal close:
[code]

[2020-03-07 14:09] ghosh commented on #295
@DimaGashko Thanks for opening this issue. Would you be open to creating a test case on codepen where we could see the issue?

[2020-03-07 14:10] ghosh commented on #296
@krisnaw I'm not sure I understand what you are trying to do. Could you please elaborate?

[2020-03-08 03:07] rjewell808 opened #299 "Cannot focus / edit textfields"
I cannot get any type of textfields / textareas to work inside the modals. More specifically it seems I cannot focus into the fields such as by clicking on it.

Here's the code I'm trying it with:
[code]

I tested it with other inputs such as checkboxes and those work fine.

[2020-03-09 20:00] piotrpog commented on #287
+1 for this issue. Honestly, is there modal lib that gets that right?

Its really annoying if there is form in the modal, users often click from input and release mouse button outside modal which closes it!

[2020-03-13 16:34] DmytroLitvinov commented on #130
Hi @ghosh ,

Thanks a lot of reporting :)
Could we be aware when new release with passing event will released?

[2020-03-13 19:11] ghosh commented on #130
@DmytroLitvinov It should be released in a few weeks.

[2020-03-16 11:05] senky opened #303 "Publish to NPM"
Hi, thanks for a great modal! Since it is finally in a stable 1.0.0 version, would you mind publishing it to NPM?

[2020-03-16 19:30] ghosh commented on #303
@senky It's not in a stable version yet. `1.0.0` is the repo version, not the version of the package itself.

[2020-03-16 19:30] #303 closed

[2020-03-19 00:25] monsieurm opened #305 "Trigger"
Is it possible to get the trigger of a modal ?
Like `modal.id`, `modal.[someKey]`.

[2020-03-19 02:29] ghosh commented on #305
@monsieurm Sorry, this is not possible right now.

[2020-03-19 02:29] #305 closed

[2020-03-23 14:08] ghosh commented on #256
Closing due to inactivity.

[2020-03-23 14:08] #256 closed

[2020-03-24 00:47] ghosh commented on #65
In an effort to keep this library lightweight and simple, have decided not to implement this feature. If there is a rising demand for this, am open to consider this again.

Thanks for your patience and understanding guys.

[2020-03-24 00:47] #65 closed

[2020-03-24 00:49] ghosh commented on #139
Duplicate of #65

[2020-03-24 00:49] #139 closed

[2020-03-24 00:52] ghosh commented on #286
This ability already exists, see the `disableScroll` setting in configuration here - https://micromodal.now.sh/#configuration

[2020-03-24 00:52] #286 closed

[2020-03-24 01:54] ghosh commented on #259
Duplicate of #130

[2020-03-24 01:54] #259 closed

[2020-03-24 01:59] ghosh commented on #299
Seems to work fine for me. Also there is an instance of a modal with a from on the homepage. Click the `trigger modal` link to see it action.

Closing this for now. Feel free to open if there is any issue.

[2020-03-24 01:59] #299 closed

[2020-03-24 02:28] ghosh commented on #271
For simplicity sake, we are not going to implement this. Thanks.

[2020-03-24 02:28] #271 closed

[2020-03-25 08:05] #187 closed

[2020-03-25 08:05] #180 closed

[2020-03-25 08:05] #247 closed

[2020-03-25 08:05] #295 closed

[2020-03-25 08:20] ghosh commented on #260
Fixed in `0.4.3`

[2020-03-25 08:20] #260 closed

[2020-03-25 08:21] ghosh commented on #246
Fixed in `0.4.3`. Transpiling code with babel now. Feel free to comment on this issue in case of any problems. Closing for now.

[2020-03-25 08:21] #246 closed

[2020-03-25 08:21] ghosh commented on #224
Fixed in `0.4.3`

[2020-03-25 08:21] #224 closed

[2020-03-25 08:21] ghosh commented on #189
Fixed in `0.4.3`

[2020-03-25 08:21] #189 closed

[2020-03-25 08:21] ghosh commented on #130
Fixed in `0.4.3`

[2020-03-25 08:21] #130 closed

[2020-03-25 09:06] DmytroLitvinov commented on #130
Thanks for release :)
Maybe it would also good to track release on GitHub?

[2020-03-25 09:20] ghosh commented on #130
Yes planing on doing that. I'm trying to setup github actions for release. Should be able to track releases on GH soon.

[2020-03-25 09:34] cron13 opened #306 "got error when "yarn upgrade" after micromodal 0.4.3"
Hi, after upgrade micromodal to 0.4.3 i got error
[code]
after run yarn upgrade in project directory

I use macos 10.15.3, also i got same error on ubuntu 18.04.4

[2020-03-25 09:52] ghosh commented on #306
Yes thanks for reporting. We are aware of this issue and working to resolve it.

[2020-03-25 15:00] #66 closed

[2020-03-25 15:24] ghosh commented on #306
This is fixed in `0.4.4`.

[2020-03-25 15:24] #306 closed

[2020-03-25 16:21] ghosh commented on #269
Introduced babel to transpile code. This should have been improved in the latest version. Thanks for opening an issue @eligrey

[2020-03-25 19:36] jq-87 opened #307 "disableScroll not working on iOS 12"
iOS version: 12
Mobile Safari version: 12

Doing the following works in macOS (Mojave) Safari 13 but not iOS mobile Safari 12.

Body still scrolls:
[code]

[2020-03-26 06:41] cron13 opened #308 "Got TypeError: Cannot read property 'focus' of undefined after v0.4.5"
Good day, after upgrade to 0.4.5 i got error ```TypeError: Cannot read property 'focus' of undefined
    at Modal.setFocusToFirstNode (micromodal.es.js?a1b7:259)
    at Modal.showModal (micromodal.es.js?a1b7:152)
    at Object.show (micromodal.es.js?a1b7:415)```

after modal showed

Thank you!

[2020-03-26 06:44] ghosh commented on #308
@cron13 Can you please share your code? Specifically the modal.

[2020-03-26 06:54] #253 closed

[2020-03-26 10:49] RettentoRectangle commented on #308
Same here:

TypeError: focusableNodes[0] is undefined
micromodal.es.js:259

[2020-03-26 13:47] ghosh commented on #308
@RettentoRectangle Can you please share your modal code?

[2020-03-26 14:57] #308 closed

[2020-03-26 15:06] RettentoRectangle commented on #308
Nothing special:

export default function Modal (props: IModalProps, appendable: HTMLElement): Promise<void> {
  ...

  MicroModal.show(id, {
    debugMode: __DEV__,
    awaitCloseAnimation: animation,
    onClose: (elem) => {
      ...
      resolve()
    })
})

--------------------

v0.4.6 works.
Thanks!

[2020-03-28 06:38] eligrey commented on #269
@ghosh This issue is not fixed in micromodal 0.4.6. I am still experiencing this issue when I disable my mitigations for this bug:

<img width="896" alt="Screen Shot 2020-03-27 at 11 17 17 PM" src="https://user-images.githubusercontent.com/46995/77816627-4fcabc00-7081-11ea-9a0c-1e0d42136167.png">

You need to iterate over `triggerMap` using `Object.keys(triggerMap).forEach()`.

I ended up having t

[2020-04-09 16:40] nsahlas opened #311 "Gatsby/Docz build failures with micromodal"
We are using Docz and Gatsby as well as server side rendering. In certain instance the window is not yet available during server side rendering therefore our docz build fails. I would like to know if you would consider putting a wrapper around the window.micromodal code (around line 440):

// Wrap the require in check for window
if (typeof window !== `undefined`) {
  window.MicroModal = MicroModal

[2020-04-10 06:07] ghosh commented on #311
@nsahlas Thanks for reporting. SSR was not something we had considered till now. Will fix this in next release.

[2020-04-10 06:08] ghosh commented on #296
Closing due to inactivity

[2020-04-10 06:08] #296 closed

[2020-04-10 06:09] ghosh commented on #307
Thanks for reporting @jq-87. Will investigate.

[2020-04-10 16:24] rctneil opened #312 "Destroying instances"
Hi,

I've just added this to a local project i'm working on. It's great but I have a grid of items, on which some of them have a Micro Modal set up. These work perfectly but when I use Infinite Scroll to append more grid items to the bottom, Micro Modal does not work on those items which require it that have been appended.

What is the best way of destroying all the Micro Modal instances and recre

[2020-04-11 08:39] ghosh commented on #312
@rctneil Thanks for reporting, we don't have a way of doing this yet. However, that is something we want to solve for our next release.

Meanwhile, if you are using the `init` method, them try calling `Micromodal.init()` after the items are appened.

[2020-04-11 09:34] rctneil commented on #312
Thanks,  I did try that after appending items but it didn’t seem to make any difference and didn’t initialise the new modals.

[2020-04-11 09:42] ghosh commented on #312
Noted. Will work on a fix.

[2020-04-15 15:50] Edodums commented on #312
@ghosh , maybe something like this?
https://github.com/banthagroup/fslightbox/blob/c3470d0445a360e2bee47b4962d0b570a03fe48d/src/index.js

A part from that everything is literally perfect, great job 🧡

[2020-04-16 07:46] ghosh commented on #312
@Edodums Yes, something like the refresh mothod.

[2020-04-24 04:56] joshangehr commented on #312
I had this same issue. The below is what worked for me.

[code]

I have not tested thoroughly, but it has no side effects in my use case. This seems to be enough to flush the MicroModal memory and help a new initialization succeed. @ghosh If the above is at all reckless, let me know. Hope this helps.

[2020-04-29 23:54] PeterDekkers commented on #216
I think this may be a duplicate of https://github.com/ghosh/Micromodal/issues/287

[2020-04-30 08:26] klprt opened #315 "IE11"
Oh dear, I know...
But still I have to ask; what does it take to get Micromodal to work on IE11? I can guess this is linked to ES6 new stuff like spread operator but I wondered anyway.
Thanks a lot for this module which is super useful.

[2020-04-30 20:45] t3db0t opened #316 "Invalid attempt to spread non-iterable instance"
Hi there! I just came back to a project from about a year ago and I'm now getting this error on a previously working codebase that I hadn't made any changes to:

[code]

This is in Chrome 80.0.3987.162. When I comment out any use of `micromodal` everything works again.

[2020-05-01 02:25] PeterDekkers commented on #287
Duplicate of https://github.com/ghosh/Micromodal/issues/216

Worth mentioning that as a workaround you can disable clicking outside the modal to close by removing the `data-micromodal-close` attribute from the overlay.

I.e. change this:
[code]
To this:
[code]

[2020-05-01 02:32] PeterDekkers commented on #287
Also my 2 cents regarding the suggested fix of using the `mousedown` event. I guess this should _only_ be done for the overlay. In all other situations—e.g. close button—the `click` event would be correct.

So possibly this means the overlay should have a new `data-micromodal-mousedown-close` or some-such that listens to `mousedown` events.

Happy to make a PR if that's useful.

[2020-05-01 02:38] DimaGashko commented on #287
@PeterDekkers yeah, removing data-micromodal-close is a the solution sometimes, but I need this functionality too.

mousedown - probably, but it should be tested on mobile and other touch devices also

[2020-05-01 02:39] PeterDekkers commented on #287
Yes indeed @DimaGashko, good point about touch devices.

[2020-05-08 23:03] kisabelle opened #324 "Tapping a micromodal close link (data-micromodal-close) triggers click on links underneath the modal on iOS"
Doesn't seem to happen on desktop browsers, but on my iPhone 11 in Chrome, Safari and Firefox, when tapping on the close button the micromodal closes but then any link that was below the modal and directly under the close button will be clicked and followed as well.

My close button is marked up as follows and positioned absolutely in the top right corner of the modal:

`<a class="modal__close" ro

[2020-05-08 23:11] kisabelle commented on #324
Update: I have just figured out this happens on another modal library as well. Could be a browser-related bug. If anyone has any ideas on how to prevent this behaviour, I would greatly appreciate it.

[2020-05-08 23:25] kisabelle commented on #324
Update: Adding the following closeModal() fixed it:

[code]

[2020-05-12 17:03] nsahlas commented on #311
@ghosh  was this resolved with the last release?

[2020-05-13 00:03] Green-Zero-Development commented on #324
@kisabelle
THANK YOU for figuring this out. It's been driving me crazy for a week or so now.

Your fix also worked for me.

[2020-05-15 19:42] Ryan-Zell opened #325 "Cannot Fully Disable Close Due to ESC Keydown Listener"
I think it would bring more functionality to the modal if you could fully prevent users from closing the modal.

[2020-05-17 16:13] ghosh commented on #325
Thank you for opening this issue. We made a conscious decision to not support this in an effort to promote best practices.

In case you really do need this functionality, please feel free to use other modal libraries available.

[2020-05-17 16:13] #325 closed

[2020-05-19 05:41] suoc opened #326 "Can with fullscreen modal support?"
Will consider about this?

[2020-05-19 08:01] kakadiadarpan commented on #326
@suoc What do you mean by full-screen modal?

[2020-05-19 08:05] suoc commented on #326
See [bootstrap-fullscreen-modal](https://github.com/benallfree/bootstrap-fullscreen-modal)

[2020-05-19 15:23] ghosh commented on #326
@suoc It's highly unlikely we will implement this feature.

If you are just looking for a solution where the modal covers the browser window, that can be achieved with css.

Closing this for now.

[2020-05-19 15:23] #326 closed

[2020-05-21 06:23] Chi-teck opened #327 "Warnings in Chrome console"
The following message appears in Chrome console when micro modal is open.

[2020-05-28 20:10] DimaGashko opened #329 "Just strange line in the source code"
I've just found one line in the source code that made me confused

https://github.com/ghosh/Micromodal/blob/master/lib/src/index.js#L106

[code]

Why would you use querySelector to find the body element?
There's `document.body` to do this - shorter, faster, full support

[2020-05-28 20:25] DimaGashko commented on #329
Ok, I don't like that all function. Too complicated to do so simple thing.
I would write so (
[code]

[2020-06-03 10:07] Kilbourne commented on #316
I have the same problem. I think is due to Micromodal switching to babel7 while having an error in code that was silently accepted by Babel 6 https://github.com/babel/babel/issues/9942#issuecomment-489389297
This pull request https://github.com/ghosh/Micromodal/pull/313 should resolve it

[2020-06-04 22:37] thomasplevy opened #338 "Closing modals programmatically causes issues when multiple modals are present on a single page"
I've found what I believe to be a bug encountered when utilizing multiple modals on a single page.

I've setup a fiddle to help illustrate the issue in a neutral environment: https://jsfiddle.net/xvm39dge/12/

### Reproduction Steps

1. Click "Open # 1" to open the first modal
2. Close the modal using the unstyled button that says "Close # 1"
3. Click "Open # 2"
4. Modal # 1 is displayed instead o

[2020-06-11 23:52] thetwopct commented on #324
@kisabelle could you share your solution? What I'm doing doesn't seem to solve this for me.

[2020-06-22 21:29] joshvickerson commented on #316
I'm having the same issue in a codebase still using Babel 6 - even if I try to run micrmodal through Babel at build time for my app, I still have the issue. I've also attempted using the polyfills suggested in #49 - I'm not using WebPack so the other recommendations don't work.

I have no idea how to fix this issue myself, but if #313 will fix it, I hope this can be merged soon.

[2020-06-23 11:57] peacepostman opened #339 "Problem with escape key when modal content is a vimeo iframe"
Hello,

First of all thanks for this amazing yet very light library.

I am facing an issue when the modal content is an iframe with a vimeo video embedded, i can bypass this issue with forcing focus via the `onShow` function but i will let you be the judge if this issue need a pull request.

Best regards, thanks again

[2020-06-23 21:53] djmtype opened #340 "Focus upon open"
I have an issue exactly opposite to this issue: https://github.com/ghosh/Micromodal/issues/180

Since I have a link within the the `main` portion of the modal, upon triggering the modal open, focus goes directly to that link and therefore the content displayed above is no longer in view. This is a bad user experience for sighted users.

[2020-06-23 23:34] djmtype commented on #340
As you can experience for yourself, opening the modal focuses on the first focusable item. In this case, it's a link. So, it throws the user half way down the modal and skips all the content above. It's great the screen reader announces the modal title. But, if I was a blind user, I won't know there's content above the link when navigating in order using my controls. Soon after I'll reach the bott

[2020-06-24 14:25] DimaGashko commented on #295
I see, you add this to fix this bug: https://github.com/ghosh/Micromodal/blob/master/lib/src/index.js#L178
But it looks like you didn't do that in setFocusToFirstNode function: https://github.com/ghosh/Micromodal/blob/master/lib/src/index.js#L150

p.s. I'd like to have an option to disable behaviour of not focusing close targets on modal opening: https://github.com/ghosh/Micromodal/blob/master/lib

[2020-06-24 14:34] DimaGashko commented on #295
Also setFocusToFirstNode doesn't check if the node is visible, so when I open a modal which contains a hidden input it tries to focus the hidden input (but fails and focuses the close target)

![image](https://user-images.githubusercontent.com/20650419/85575663-6bbe0980-b640-11ea-8cba-08bbd5ee546c.png)

[2020-06-24 15:56] joshvickerson commented on #315
I also have been running into issues with getting Micromodal to work in IE 11, but after a few edits I was able to get this working... Here's how I went about fixing it:

1. Include the polyfills noted on #49
2. I cloned PR #313 and built Micromodal locally, using that version instead (I think this makes the Array.from polyfill unnecessary, but for now I still have it included)

At this point, I w

[2020-06-24 16:07] joshvickerson commented on #316
I was able to fix this for my own use - see my comment in #315

[2020-06-25 18:44] joshvickerson commented on #315
After working with this further, the fixes I describe in my previous comment only seem to have resolved the error when calling `Micromodal.init()`. Later when showing a modal, the error still occurs. IE 11 seems to take issue with receiving a NodeList for some reason.

I've worked around this in one instance by wrapping the method in a try/catch block, and while the modal does appear, I think this

[2020-06-26 16:46] josuelmm opened #341 "Uncaught TypeError"
Uncaught TypeError: Invalid attempt to spread non-iterable instance.
In order to be iterable, non-array objects must have a [Symbol.iterator]() method.
    at micromodal.min.js:1
    at t (micromodal.min.js:1)
    at Object.init (micromodal.min.js:1)

[2020-07-01 16:43] spasticninja commented on #311
+1 for this issue. We are server rendering and I'm getting the the window is undefined error.

[2020-07-01 21:31] mumanity commented on #311
You give simple fix.

We smile.

tl;dr
+1

[2020-07-04 11:54] SirMishaa opened #348 "Is there any way to pass custom parameter on MicroModal.show ?"
Hello !

I would like to pass some custom parameters when I open a Modal.
[code]

Is it possible ?
Thank you very much. I hope the question hasn't already been asked.

[2020-07-04 12:20] piotrpog opened #349 "don't close when clicked inside and let go of mouse button outside"
That is something that is very annoying if modal contains ay kind of form. In that case, I often click the mouse on text input and let go of it when I move the cursor a bit - when the cursor is already outside modal. And this causes a modal to close.

[2020-07-06 17:34] Ezra-Siton-UIX opened #350 "If MicroModal.show on load => data-custom-close not working"
Demo:
https://codepen.io/ezra_siton/pen/vYLRYqO?editors=1100

Only if I close the modal (by ESC) - and open the modal again the `close` button works fine.

Maybe related:
https://github.com/ghosh/Micromodal/issues/187

[2020-07-07 11:41] pbek commented on #65
Being able to pass an element as modal would also make this library work inside [web-components](https://en.wikipedia.org/wiki/Web_Components).

[2020-07-07 12:00] pbek commented on #65
@ghosh, I can confirm that changing this one line (https://github.com/ghosh/Micromodal/pull/351/files) allows the library to be used in web components.

![image](https://user-images.githubusercontent.com/1798101/86778009-2810ca00-c05a-11ea-8bbf-20e37cba9e15.png)

[2020-07-07 16:07] ivmo opened #352 "Open another modal from opened modal on touch devices"
I faced with problem to open another popap from opened popup on touch devices. While on the desktop, everything works well.
I've create couple popups, login and register. Login modal has a link:
a.popup-modal__link(href='#' data-popupmodal-open='recovery' data-popupmodal-close='login') Forget a password?
On desktop when I click this link popup-login closes and popup-register opens. BUT! On mobile

[2020-07-08 11:25] pbek commented on #65
## Local

![image](https://user-images.githubusercontent.com/1798101/86913108-6a9bda80-c11e-11ea-98ae-0810b246204e.png)

## Nextcloud

![image](https://user-images.githubusercontent.com/1798101/86913130-75566f80-c11e-11ea-9caa-a8d36da117c6.png)

[2020-07-08 19:46] davidwolfpaw opened #353 "Targeting trigger of modal"
Is there a way to target the trigger of a modal, to do things like add a class or indicate via aria that the modal is open?

[2020-07-10 14:43] DimaGashko commented on #349
https://github.com/ghosh/Micromodal/issues/287
https://github.com/ghosh/Micromodal/issues/216

[2020-07-10 14:56] DimaGashko commented on #216
BTW, this issue is not Chrome specific. Yes, if are focused in some field - probably chrome specific. I don't see this in Firefox and Safari. But, if you start your click inside a modal (not form element) and finish it outside - the modal closes and not only in Chrome. I tested in firefox and Safari.

Home this issue will be fixed in near future..

[2020-07-10 20:00] CoreyBurkhart opened #354 "onClose not called when provided to Micromodal.init"
**Repo**
[code]
**Expectation:** "close" will be logged to the console
**Actual:** Nothing is logged to the console

When I provide the config to `show`, `onClose` gets called properly
[code]

[2020-07-13 12:40] acespace90 commented on #353
I follow this thread. Especially when there are several modals in a page and you want to do some actions on a certain modal.
How can it can be done?

[2020-07-13 22:26] topada commented on #353
Would be great if the API could expose the trigger of the modal aswell. +1
Trying to spawn the modal right below the trigger button

[2020-07-19 11:18] farhanianz opened #355 "Modal disappears on dom update"
I'm using your modal with laravel's `livewire/livewire`.

When I change something with livewire ajax request the modal gets closed. I've set console.log to onClose() but it's not logged.

I've no clue how it's getting closed. If I set wire:ignore (so livewire doesn't know the dom changes) it is not closing unexpectedly but again it is also not updating the dom text fetched via ajax.

Is there any

[2020-07-19 13:41] farhanianz commented on #355
Found the solution, it was livewire specific, so closing the issue.

For those who are struggling, add `wire:ignore.self`. Livewire will ignore the dom changes occured by micromodal. But where should you add wire:ignore.self? Well, if you've followed the micromodal docs, it says at it's simplest form it requires two classes

[code]

So, add `wire:ignore.self` where you are using the .modal class,

[2020-07-19 13:41] #355 closed

[2020-07-23 15:32] labmorales commented on #49
Mine only worked on IE11 with Array.from and Object.Assign polyfills with the following change:

[code]
line 246:
[code]

But i guess it will work without change with the spread polyfill as well. I just didn't want to insert another polyfill.

[2020-07-23 16:06] mrdarkside commented on #349
Just remove data-micromodal-close trigger from overlay and add custom event to your modal using MicroModal.close('modal-id') and excluding modal content part. Works fine for me.

modal.addEventListener("mousedown", (e) => {
      if (
        e.target.closest(".modal__overlay") && !e.target.closest(".modal__content") ) {
        MicroModal.close("modal-1");
      }
    });

[2020-07-23 19:43] DimaGashko commented on #349
@mrdarkside That's exactly what I did :)

Only one thing - your solution doesn't work on sensor displays.
Here's how I did it:

[code]

[2020-07-23 21:15] mrdarkside commented on #349
What does this part mean /** @param {HTMLElement} target */ ? Kinda comment?

[2020-07-24 05:12] DimaGashko commented on #349
That's JsDoc comment. I use it just to autocomplete and intellisense.

![image](https://user-images.githubusercontent.com/20650419/88362457-3a427600-cd85-11ea-85ef-0587900bc0f7.png)
![image](https://user-images.githubusercontent.com/20650419/88362371-f2bbea00-cd84-11ea-80bf-b84600fbe8f8.png)

[2020-07-24 12:40] mrdarkside commented on #349
So we can add and destroy these event and lock scroll if needed with onShow() and OnClose() methods. Here's what I came to, any suggestions?

`import MicroModal from "micromodal";

function scrollLock(bool = true) {
  // getting window scroll width value
  const scrollWidth = window.innerWidth - document.body.offsetWidth + "px";
  //all jumping elements aftef scroll lock (body, fixed elems etc)

[2020-07-24 12:49] mrdarkside commented on #354
[code]
no?

[2020-07-24 14:18] DimaGashko commented on #349
I use [Event delegation](https://javascript.info/event-delegation), so, you don't need to add/remove each time. I mean, I add that event to the body element, so it will be called each time you click on the page. Yes, even if all modal windows are closed, but is it bad? There's only one event and the handler just does nothing when the target is not a [data-close-parent-modal] element.

Or just loop

[2020-07-24 17:05] mrdarkside commented on #349
Just checked I really add an additional eventListener each time I open a modal. Thanks!!!

[2020-08-06 01:02] doMynation commented on #232
I'd also be interested in this, should you decide to re-open the issue. Thank you.

[2020-08-06 13:14] pascalknecht commented on #315
What is the state of this issue? We still would like to support IE11 but at the moment this is not possible. Any news?

[2020-08-06 21:08] GR1ML0CK commented on #105
This really doesn't have anything to do with accessibility. Accessibility is about ensuring that features that are expected to be "accessible" to any standard user are "accessible" to all standard users (i say standard because some features could be restricted by unrelated things like paywalls).

If a modal is not meant be closable by any user, then that would include users that require the use of

[2020-08-27 07:40] dendashka commented on #352
Hi! I have the same problem( Did you find the solution?

[2020-08-27 09:17] mattgaspar commented on #354
Calling `MicroModal.show('my-modal')` seems to clear any configuration set from `MicroModal.init({ options... })`
A work around that seems to work is to not use `init` if you need to use `show` but then you can't use `data-micromodal-trigger` so you need to wire up your own event handlers.  Or pass in the same options for `init` and `show`!

[2020-08-27 10:02] ivmo commented on #352
Привет, да нифига, максимум оно открывается теперь, но не закрывается) Глянь в кодпен.

[2020-08-27 11:37] dendashka commented on #352
Решил проблему кастомным кодом)
`  let windowLink = document.querySelectorAll('.accaunt-enter__window-link');

  windowLink.forEach(link=>{
    link.addEventListener('click', function(){
      this.closest('.modal').classList.remove('is-open');
    });
  });`

[2020-09-03 13:30] jq-87 commented on #315
Include this in your head and the modal library will work as is:
`<script crossorigin="anonymous" src="https://polyfill.io/v3/polyfill.min.js?features=NodeList.prototype.forEach%2CArray.prototype.includes%2Cdefault"></script>`

[2020-09-03 17:51] hejamartin opened #371 "If modal has much text - it will skip down to the last line"
Yes, unfortunately a lovely work, that just does not cut it.

If I have so much information that the scroll is enabled in the modal - the modal will open and show everything bottom up. So the first lines will be at the top, needing to scroll back up in the modal.

[2020-09-03 19:23] eligrey opened #372 "`triggerMap` iteration is broken when `Array.prototype` is polluted"
https://github.com/ghosh/Micromodal/issues/269 is not fixed. Please see [this comment](https://github.com/ghosh/Micromodal/issues/269#issuecomment-605404512).

[2020-09-08 09:55] jkva commented on #268
That interferes with event bubbling.
Ideally the entire modal would not be a click target. Instead on initialisation any close triggers are located and get a `click` handler so that event bubbling on trigger children in honoured.

Alternatively you can use `closest` to traverse the tree, but that's a potential efficiency hit:

[code]

using `element.querySelectorAll` for the close trigger data att

[2020-09-10 00:04] edadams commented on #354
@mattgaspar 's second workaround worked for me! I was doing `init` with a bunch of options I needed and then manually displaying my modal via `show`. It's really quite baffling that calling `show` or `hide` would nuke the config options.

It'd be _vastly_ more intuitive and easy to work with this library if the configuration options were persistent and `show` or `close` didn't delete them.

[2020-09-14 07:58] rschumachr commented on #371
As a Quick Fix you can scroll to top via the onShow option:

`onShow: modal => document.querySelector('.modal__container').scrollTop = 0`

[2020-09-15 14:30] kevinlandsberg commented on #268
I am not happy with the solutions. Anyone has an idea for a better solution maybe with JQuery if it has to be used?

[2020-09-22 13:17] guilherme-funchal opened #373 "Forms"
Hello, I am from Brazil and I'm looking to make a form interaction with Django Framework.

Do you have some example with form?

[2020-09-26 16:32] saosangmo opened #374 "Does not use passive listeners to improve scrolling performance. SEO?"
Hello,

I use your plugin at https://ann.fr but Google Page Speed Insights tell me that:
"Does not use passive listeners to improve scrolling performance"  => https://web.dev/uses-passive-event-listeners/?utm_source=lighthouse&utm_medium=unknown
How I can by pass this issue.

Many thanks.

[2020-09-30 13:48] zenull opened #376 "Add Micromodal to CDNJS"
Hey folks,

Could you please add this great modal script to [CDNJS](https://cdnjs.com) so we have more options than just unpkg??

That's a great network which uses Cloudflare & some other providers. I hope to see it soon on there :)

Regards & Thanks for your work!

[2020-10-18 10:16] motiejunas commented on #75
So any plans for refactoring this craziness?

[2020-10-18 19:54] NikitaChernykh commented on #187
I tested it today and it is still broken v0.4.6

[2020-10-20 20:01] VitaliiThir commented on #133
onShow: () => {
      setTimeout(function () {
        $('[data-micromodal-close]').trigger('click');
      }, 5000)
    }

[2020-10-22 14:37] neeeilpatrick commented on #187
Yep. It's still broken.

I needed to use MicroModal.show() so I just did this as a work around with the issue.

[code]

[2020-10-27 16:21] bryanbuchs opened #384 "Focus not shifted when opening/closing in iOS"
When closing a modal, the focus is not moved from the trigger when opening, nor returned to the opening trigger.

Demo: can be seen on the micromodal.now.sh landing page.

iOS 14.0.1
Safari
Primarily affects VoiceOver users.

Not sure if this is a iOS 14 thing...

[2020-10-28 18:49] fromaline commented on #384
@bryanbuchs, hi!
How can I as non VoiceOver user test this issue?

[2020-11-01 18:42] celsowhite opened #385 "Document Show/Close Methods"
### Issue

There are instructions in the documentation for how to programmatically show/close the modal. See [here](https://github.com/ghosh/Micromodal/blob/4d03e7ee5265a749f079922f3c6855c1da80765a/docs/src/index.html#L353). The show example doesn't fully explain how the show method functions and doesn't mention [the second parameter](https://github.com/ghosh/Micromodal/blob/4d03e7ee5265a749f07992

[2020-11-02 12:11] DimaGashko opened #392 "Close button doesn't work when contains any elements"
I've added an svg icon to the close button and realized that the button doesn't work anymore.

Reason: you use event delegation slightly incorrect (https://github.com/ghosh/Micromodal/blob/master/lib/src/index.js#L131).

[code]

Solution: replace `hasAttribute`  with  `closest`:
[code]

Html:
[code]

p.s. For now I'm just going to use something like:
[code]
It's working, but I hope you would  fix

[2020-11-04 17:49] jonasmarco opened #393 "[Question] How to clean a form inside the modal when closing"
Hi guys,

I have a Modal and a form inside it, if the user closes the modal I would like to clean / reset the form inside Modal in the 'onClose' function, how do I do this?

[2020-11-05 12:58] realovich commented on #393
[code]

[2020-11-06 13:57] pixelmachine commented on #371
I was also having this issue and it was due to the auto-focusing. In my case I would have expected it to focus the close button at the top of my modal but instead it was focusing on a link at the end, causing the modal to jump to the bottom.

If that's the case for you could do a couple of things:
1. Add a focusable element at the top
2. Disable focusing:

[code]
Or if you're opening programatical

[2020-11-06 23:10] canaandavis opened #394 "Question around focusable elements"
I recently ran into an issue where, inside of a modal, I was including an iframe. I was wanting to exclude the iframe from the tab index, so I added `tabindex="-1"` to the element. Though, when the modal was shown the iframe was still being focused.

I started to try and understand how elements are being selected for focus and came across the `getFocusableNodes` function which uses `FOCUSABLE_ELEM

[2020-11-09 22:44] jonasmarco commented on #393
Thank you friend. It helped me a lot.

[2020-11-09 22:44] #393 closed

[2020-11-12 01:36] badams2527 commented on #324
If anyone has troubles with this, and they don't know where to put @kisabelle code, here was my solution:
[code]

[2020-11-12 18:23] kisabelle commented on #324
@thetwopct I mentioned in my original post, you need to find the `closeModal()` function in `micromodal.js`. It starts around line 256

[code]

[2020-12-29 19:20] gstvribs commented on #65
any updates on this issue?

[2020-12-30 11:19] gokce commented on #105
100%
Imagine using this library for a modal that is shown during processing a payment. In that case, modal is not meant to be closable, user has to wait until it's done or it fails...

[2021-01-04 21:53] da-kicks-87 opened #411 "Closing Modal on Mobile image gallery, automatically opens another modal"
I have made an image gallery that uses Micromodal as the popup for a larger image view.
Works fine on desktop.

But on mobile when I close the modal from the top right "x" or bottom "close" button, it close to modal , then automatically trigger another modal from the image thumbnail that was underneath.

Anyone know why this happens only on mobile? Any fixes for this?

[2021-01-06 23:33] ugurcanbulut commented on #411
Are you triggering the modal by using JavaScript method `MicroModal.show('modal-id')`?
If so, could you please share your code?

[2021-01-07 15:01] da-kicks-87 commented on #411
I am trigger it with **data attributes** ,  **data-micromodal-trigger="modal-1"**. With JS of **MicroModal.init();**

**Here is html code of the gallery and modal**

    <section class="bg-grey py-5 image-gallery-section">
      <div class="container">
        <div class="row">
          <div class="col-12 text-center">
            <h1 class="mb-4">Image Gallery BS Grid </h1>
            <hr class

[2021-01-13 15:52] Antimated commented on #187
As of today still broken, came looking for a solution online just to find my own question here lol.

[2021-01-19 01:24] tnog commented on #411
I'm encountering a similar issue on a project, but looks like this might be a similar issue to: #324

[2021-01-20 00:07] mrwweb commented on #312
Ran into the need for a `.destroy()` method but in a different use case. We have multiple potential triggers but only want to show the modal once to a user on a page.

My solution was a little different in this case. Since MicroModal checks to be sure that the modal exists, I just remove the modal from the DOM when it's closed.

That said, it would be much nicer to have an upstream option to destr

[2021-01-20 21:06] bennlich commented on #316
I'm also seeing this in chrome

[2021-01-20 21:37] bennlich commented on #316
It appears to happen when the `Array` prototype gets messed with before calling micromodal.init(), which jquery seems to do on import.

E.g. to reproduce:
[code]

[2021-01-28 05:34] brianyuen commented on #311
I'm still getting the `"window" is not available during server side rendering.` error on `'gatsby build'.` Is there a way to fix this??

[2021-01-28 11:15] ran-wei opened #413 "Can the Show function return reference of the active modal?"
One issue I found is when you have a modal open on top of another modal, you can still close the top one, but the one underneath cannot be closed anymore.

Looks like the `show` function removes event listeners before showing the new one. and I could not get a handle of the Modal instance to add listeners back.

Can we make the `show` function to return the current active modal, or pass the Modal

[2021-01-28 14:40] da-kicks-87 commented on #411
@tnog Yes, the solution in that thread solved my problem. Thank you 👍

[2021-01-28 14:40] #411 closed

[2021-01-28 21:50] mattobee commented on #189
@ghosh This doesn't seem to be working in v0.4.6. Was the fix rolled back at some point?

[2021-01-29 05:13] tbys commented on #338
Did you find a way around this?
I tried simulating a click on a data-micromodal-close element, but it does not close the modal.

[2021-01-29 16:07] thomasplevy commented on #338
@tbys I haven't actually tried to simulate the click event, my hope was that I wouldn't have to pursue the workaround. Still waiting on a fix

[2021-02-04 04:06] tbys commented on #338
Oh well :dagger:

I was also hoping not having to spend time figuring out how to work around this issue.

[2021-02-08 10:41] rutchkiwi commented on #324
@ghosh I believe that basically everyone using this library wants to have the solution given above by @kisabelle and @badams2527 built-in, whether they know it or not! Do you see any problem with including that as the default behavior? (other than the extra 30 or so bytes). I can raise a PR with these changes if needed.

[2021-02-09 03:22] tbys commented on #338
Okay so I was able to work around the issue by not using the data-attribute for the opener button.
That is, if I open the modals using `MicroModal.show('modal-id')` the issue seems to go away.

[2021-02-09 17:42] kisabelle commented on #324
@ghosh @rutchkiwi I would love to see this added – you've just reminded me that I've since installed Micromodal on a couple of other sites without including this fix!

[2021-03-03 16:37] Poselsky commented on #187
https://github.com/ghosh/Micromodal/blob/4d03e7ee5265a749f079922f3c6855c1da80765a/lib/src/index.js#L305

Saw this line. If you won't pass config into show and close method, config won't be used at all.

[code]

If init function would save global config for each modal id, tracing configs would be a lot easier.

[2021-03-04 12:46] obbap1 commented on #65
please any updates on this ?

[2021-03-04 17:07] badfeather opened #421 "When launching 2nd modal from modal, escape key closes both modals"
Desired: Esc key would return you to first modal rather than closing both. Is there a workaround for this? Closing the top modal via a button with a `data-custom-close` attribute works as expected (closes the top modal), but the escape key closes all modals.

[Codepen demo](https://codepen.io/badfeather/pen/NWbBbYP)

[2021-03-08 17:20] chris-lawton commented on #350
It's this - https://github.com/ghosh/Micromodal/issues/385

In your instance you need to add `closeTrigger` to `MicroModal.show`:

[code]

https://codepen.io/chrislawton/pen/yLVRzxL?editors=1000

[2021-03-09 11:55] HelloTalib opened #423 "How to trigger MicroModal with ajax call ?"
in my case this code doesn't work properly, it needs multiple clicks to trigger MicroModal that's I don't want, is there any solution?

 $.ajax({
              type: "POST",
              dataType: "json",
              url: my_ajax_url.ajaxurl,
              data: {
                action: "data_action_callback",
                product_id: product_id,
              },
              success: func

[2021-03-15 01:07] ptrsmk commented on #324
@ghosh hasn't made a contribution to any repo on github in about 3 months.  It may be time for a new maintainer.

[2021-03-19 13:45] aricooperdavis commented on #376
This issue can now be closed: https://cdnjs.com/libraries/micromodal

[2021-03-23 05:13] iKevinShah commented on #327
Hi,

Any update on this?

Just adding `{passive: false}` to all `addEventListener` in source seems to solve the problem but not sure about the ramifications. Didn't get time to check.

Is this being looked into @Devs? Or is it okay to place `{passive: false}` ?

[2021-04-09 23:37] benaltair commented on #311
In terms of SSR, I'm getting the same error on [Svelte Kit](https://kit.svelte.dev/).
[code]
Looks like Micromodal still isn't supporting SSR as it references the DOM on import. Perhaps the DOM reference can be changed to support SSR frameworks?

[2021-04-12 19:51] AwakenTheJaken commented on #187
@ghosh Hope you are well, this still seems to be an issue, can we re-open this?

[2021-04-12 19:51] mrpaulphan commented on #136
Second this bumb

[2021-04-19 15:25] benCoomes commented on #65
Another bump, if this library doesn't support shadow dom then I can't use it for the project I am working on. Which is a shame, because it is forward-looking with no dependencies and es6 module support.

[2021-04-19 16:13] pbek commented on #65
Just as a reminder, I have my PR https://github.com/ghosh/Micromodal/pull/351 running in production since July 2020 without any issues in our web components.

[2021-04-22 13:22] deniseismo commented on #392
I can confirm this: had the same issue where the close button with an svg icon inside wouldn't close properly (occasionally it did work), thought I was tripping. Thanks for the workaround.

[2021-05-06 03:05] HongPong commented on #392
for eslint i put
[code]
seems to work as it should. thank you!

[2021-05-06 04:08] HongPong commented on #324
Thank you all, this solves my client issue and I hope it gets picked up as a PR #444  eventually.

Just to note for this thread, that i changed /lib/src/index.js which is a little different than the dist build artifact file noted above. I've been stuck on this for a while so I truly appreciate it!!

[2021-05-06 07:03] toastal commented on #324
This was an issue with me on Epiphany (GNOME Web) as well. The bug said wasn't an issue in Safari, but it would seem it could certainly be a Webkit issue.

[2021-06-24 10:48] lucasmoeskops commented on #338
I also had this problem and it cost my quite some time to analyse why it happened. It seems to relate to closeModalById changing the internal modal by calling `this.modal = document.getElemenyById(targetModal)` in the code, which essentially swaps the internal modal to a different modal.

My work-around for now is calling a custom click event on the modal and temporary having it act as a modal clo

[2021-06-29 15:23] leafac opened #457 "Feature Request: Global defaults"
Great library, y’all 🙌

I propose we add something like:

[code]

I’d find that useful because I’m not using `MicroModal.init()`. Instead I put `MicroModal.open()` on the `onclick` of my buttons. Right now I have to do something like `MicroModal.open(<target>, microModalDefaults)`, where `microModalDefaults` is a global variable.

[2021-07-06 15:14] Ezra-Siton-UIX commented on #350
Thanks! this solves the issue. Anyway, it is **very hard** for users to notice this issue.

[2021-07-06 15:14] #350 closed

[2021-07-26 10:44] tomgreenhill commented on #316
Anyone have an idea on a fix for this at all please? Having to pull in jQuery for some 3rd party code and it's breaking my code...

[2021-08-17 23:47] jsunsawyer opened #474 "First link clicked on https://micromodal.vercel.app/ on iOS opens a spammy website."
I was having some issues with my modal on iOS, and wanted to test the live example from https://micromodal.vercel.app/.

Upon testing, I was immediately sent to a site called iyfnz.com. I had a friend test from a different phone and they experienced the same issue.

Just letting you know in case something is up with the security of your site.

Update: Disabling adblock on Chrome for this site resu

[2021-08-18 00:01] jsunsawyer commented on #474
Looks like https://codefund.app/ has possibly just changed hands and is utilizing existing scripts to server whatever code they want. Might want to consider removing.

[2021-08-23 03:30] connorsmacartist opened #475 "event stop propagation on close"
On ios, when the close button is over another element with a touch/click event listener. Click the close button, the element behind the close element is also triggered.

[2021-08-24 20:25] WebDevMaster2016 commented on #338
My work-around

`const modals = document.querySelectorAll('.js-modal-slide');
// select all modals on the page

modals.forEach(element => {
// iterate over all modals

    if(element.classList.contains('is-open')) {
    // find currently active

	    element.querySelector('.js-modal-close-button').click();
	    // trigger click on close button

    }
});`

[2021-08-25 11:25] lucasmoeskops commented on #338
Hey @WebDevMaster2016,
Would it then be even faster to immediately select the matching modals with
`document.querySelectorAll('.js-modal-slide.is-open')` so that you don't need the `if` condition any more?

[2021-09-02 01:00] patsch opened #476 "MicroModal not triggering modal, says Please specify at least one 'micromodal-trigger' – "data attribute.""
I have imported the MicroModal JS and basic CSS to an existing, older style project. The MicroModal initialisation I placed on the page...

[code]
...seems to work fine as I am getting the console log error:

![Screen Shot 2021-09-02 at 10 54 28 am](https://user-images.githubusercontent.com/124726/131764540-eea86f14-196f-4ed9-9add-a2482e76428a.png)

However I HAVE added such attributes, i.e. here:

[2021-09-09 18:09] misterhamm-bzs commented on #475
+1 to this - not just an iOS issue. Looks like it might be because the modal is closing on keydown instead of keyup?

[2021-09-09 18:10] misterhamm-bzs commented on #474
Not just an iOS thing - happens on my windows desktop too

[2021-09-09 18:16] connorsmacartist commented on #475
i actually found another thread about this and the solve is to add:

		MicroModal.show('yourmodal', {
			  onClose: function(_this, elm, e) {
					e.preventDefault();
					e.stopPropagation();
			  }
		});

[2021-09-09 20:23] misterhamm-bzs commented on #475
I found that a bit after commenting on this one. Looks like it should be in the base plugin but it's not really being maintained much anymore

[2021-09-15 00:09] saosangmo commented on #299
I get the same error, I can not type text on input field and choose one option from select field.

[2021-09-15 05:14] markjaniczak opened #477 "Should call preventDefault on touchstart events"
It is not uncommon to have clickable elements underneath a modal overlay that triggers a modal close. When using the `awaitCloseAnimation` option, it is possible for a modal close element to move from under the cursor which can trigger a click on any element underneath it on mobile browsers that emulate `click` events after `touchstart` events.

This problem can be reproduced here on mobile or by

[2021-09-22 18:41] Jscherbe commented on #475
Alternatively, you could attach your own handler (addEventListener) to your close buttons (and backdrop) and then use the `MicroModal.close(id)` method to close the modal programmatically. That way you can avoid using stopPropagation, which could lead to unexpected issues (other libraries, etc).

[2021-09-23 21:02] Jscherbe commented on #476
Not sure if you fixed this already, your configuration is saying look for an element with "data-custom-open" attribute to trigger the opening but your element is using an attribute named "data-micromodal-trigger".

So you either need to update your span to use the attribute you specified "data-custom-open".

Or remove the setting and use whatever the default is for MicroModal (ie. "data-micromodal

[2021-09-23 21:06] Jscherbe commented on #477
Is this related to [Stop Propagation on close](#475)?

[2021-09-23 21:34] patsch commented on #476
I ended up triggering the modals manually - but your comment makes perfect sense, I obviously didn't understand the meaning of the openTrigger and closeTrigger options. Thank you for getting back on this.

[2021-09-23 21:34] #476 closed

[2021-11-02 18:20] bgoewert commented on #477
It does look like https://github.com/ghosh/Micromodal/issues/475 is describing the same issue.

[2021-11-09 01:40] palomamtnez opened #480 "Question: clear content instead of multiple modals?"
Hello
I have a question. Is it possible to have different triggers for one single modal and depending on what triggers the modal then the modal changes its content?
I have a gallery and I would like to have a modal that is opened when you click on any image, and then the content of the modal will show the image that was clicked
Is it possible?

Thanks
Paloma

[2021-11-11 02:26] kalpeshsingh commented on #480
Hope this helps: https://bkuoq.csb.app/

[2021-11-20 20:38] piotrpog opened #481 "Initialize multiple modals with different settings"
I have multiple modals i need to use on the same site. Each modal would have different callback run after it opens. It is possible with micromodal?

[2021-11-23 11:16] #374 closed

[2021-11-23 11:21] ghosh commented on #311
Fixed in #443

[2021-11-23 11:21] #311 closed

[2021-11-23 11:29] ghosh commented on #477
Closed by 79c75958c6aaa9cc00447b8a58ab7efbf2e84594 & #479

[2021-11-23 11:29] #477 closed

[2021-11-23 11:29] ghosh commented on #475
Closed by 79c75958c6aaa9cc00447b8a58ab7efbf2e84594 & #479

[2021-11-23 11:29] #475 closed

[2021-11-23 11:31] ghosh commented on #474
Thanks for the heads up. Fixed in #479

[2021-11-23 11:31] #474 closed

[2021-11-23 11:32] ghosh commented on #392
Fixed in #443. Thanks @HongPong

[2021-11-23 11:32] #392 closed

[2021-11-23 11:34] ghosh commented on #307
Should be fixed with #395

[2021-11-23 11:34] #307 closed

[2021-11-23 11:34] ghosh commented on #327
Should be fixed with #478

[2021-11-23 11:36] ghosh commented on #324
Closed in #479 and 79c75958c6aaa9cc00447b8a58ab7efbf2e84594

[2021-11-23 11:36] #324 closed

[2021-11-23 11:39] ghosh commented on #268
Should be fixed with #443. Feel free to open, if the issue persists.

[2021-11-23 11:39] #268 closed

[2021-11-23 15:27] #327 closed

[2021-11-23 16:29] ghosh commented on #248
Should be fixed by #479

[2021-11-23 16:29] #248 closed

[2021-11-23 21:23] ChrisCockram opened #487 "Modals closing unexpectedly with any interaction"
I am having an issue with the latest version of Micromodal. I currently have modals that contain forms but when any form item within the modal is interacted with inside the modal, the modal closes immediately. I don't believe this is expected behaviour, however it might just be the way I have implemented Micromodal.

[Code Pen with an example of the issue.](https://codepen.io/ChrisCockram/pen/bGry

[2021-11-23 21:52] #487 closed

[2021-11-23 21:53] ghosh commented on #487
@ChrisCockram Thanks for opening this issue. Should be fixed in `0.4.8`. Feel free to open a new issue if the problem persists.

[2021-11-23 21:55] ChrisCockram commented on #487
Cheers @ghosh, thanks for all your work on this library, It's much appreciated.

[2021-11-23 22:16] joshangehr commented on #487
Whoa, I thought I was crazy the last hour. Thanks for opening this issue and for the quick resolution @ghosh! Can confirm that the latest version fixes this for me as well.

[2021-11-25 19:01] john-gr opened #489 "modal input label is triggering other input fields on the main page"
The micro-modal weirdly trigger the input field on the page below micro modal when clicked on the input field labe
![micromodal-issue](https://user-images.githubusercontent.com/70377712/143490818-14e55d10-473a-436e-a004-9b22598d1e0a.gif)
l

[2021-11-27 20:27] ghosh commented on #489
Ok, not really sure what's happening here. Which version are you using? Try updating to the latest version.

[2021-12-09 19:32] john-gr commented on #489
Seems like you have fixed the issue in the latest release I do not have this problem with version 0.4.10 the issue was occurring with 0.4.6 thanks

[2021-12-12 15:24] robinmetral opened #490 "Breaking change in 0.4.9: clicking the container closes the modal"
Hi,

First, thanks a lot for this library!

Just wanted to report that 32140ddf7b52178fd09d46cbb0ff9d3a610f0f82 (released in `0.4.9`) introduced a major breaking change:

https://user-images.githubusercontent.com/35560568/145718230-26a60082-9022-4613-83ab-1104e744fb78.mov

_Note: I'm running the docs locally in this recording. You can't see it in the deployed version, which I assume is running an

[2021-12-16 16:45] aaronrobb opened #491 "Modal reopens after closing"
I have a modal opening on page load. When i click the trigger button to close it closes then immediately reopens.
Am I missing something here?

My js code:

`import MicroModal from "micromodal";

document.addEventListener("DOMContentLoaded", function () {
  MicroModal.init({
    closeTrigger: "data-micromodal-close",
  });
  MicroModal.show("legal-disclaimer");
  MicroModal.close("legal-disclaimer

[2021-12-22 20:21] hasenov commented on #490
+1, I thought I'm only one xD

[2021-12-30 22:48] heaversm commented on #136
➕1

[2022-01-02 08:24] hasenov commented on #312
+1

[2022-01-09 17:53] daltonrooney commented on #189
Try
[code]

[2022-01-12 08:35] ignatiusnikulins commented on #490
Can confirm, having the same issue in 0.4.10.

[2022-01-30 12:34] Kilbourne commented on #490
A workaround is adding extra wrapper between modal__overlay and modal__container.

I did a search and the change was applied to fix this issue : [Close button doesn't work when contains any elements](https://github.com/ghosh/Micromodal/issues/392).

A simple solution could be to check if the parent hasn't the _modal__overlay_ class.
A better one would be to add a new data-micromodal-overlay attrib

[2022-01-30 13:21] ignatiusnikulins commented on #490
Yes, another wrapper was an obvious temporary solution, but it's kind of painful when a project has 100+ modals with different layout and design options.

For now, I've just reverted back to 0.4.8 until there will be a fix.

[2022-02-03 18:27] jukibom commented on #372
@ghosh any chance you could please pull in the fix referenced above (https://github.com/anujtenani/Micromodal/commit/25c86071cfd1292ebdbb1b90d2ff80ee6feef84e)?

It does indeed fix the issue when other libraries pollute the array prototype:

![image](https://user-images.githubusercontent.com/5649179/152405534-3cdec8c9-32f8-4054-ab9d-22006344facd.png)

[2022-02-13 16:48] Shiftcoder94 opened #495 "hi"

[2022-02-16 16:46] isaacherrera47 opened #496 "target argument is getting the parent on Safari. OnShow method."
`MicroModal.init({
      onShow: this.handleOpenModal.bind(this),
    });`

Arguments passed to this function suppose to be modal and target, target is passing the body instead on safari browser.

[2022-02-21 22:04] wplit commented on #312
Another way to do it, would be to have a variable that you set as false, like modalShown = false, then check if that is false before triggering the modal, then with the onShow event change the variable to true. Next time the modal tries to show, it will check the variable and it will fail the condition, so the modal is only shown once.

[2022-03-18 00:52] RTSchriner commented on #496
I am experiencing the same thing.

[2022-03-22 17:49] #495 closed

[2022-04-04 05:30] jsharper opened #497 "Tab trapping does not work in Safari"
In Safari 15.4 on macOS, the "Trapping tab focus within the modal" does not appear to function; tabbing leaves the modal to the background page even in the "Demo Modal" on the micromodal website.

[2022-04-14 23:42] osamaashahi commented on #481
For different callback, use the `modal` variable to identify the modal.

[code]

[2022-05-06 20:51] jclark-vh commented on #490
The work around of adding the extra div wrapper causes modal windows that need to scroll, to not scroll.

[2022-05-10 17:52] imagehat commented on #496
The problem is [here](https://github.com/ghosh/Micromodal/blob/master/lib/src/index.js#L59) because `document.activeElement` does not work in Safari, it just returns the body.

It's not in the docs but there is a [third parameter](https://github.com/ghosh/Micromodal/blob/master/lib/src/index.js#L75) which is the original event, so you can grab all three parameters `onShow: function(modal, trigger,

[2022-05-13 19:20] robbytx commented on #490
@jclark-vh I'm not seeing the issue with scrolling, so I suspect that the issue is specific to your CSS.

As long as the `micromodal-container` is the div with the `(max-)height` and `overflow(-y): auto`, then it should scroll appropriately, unless you've given the wrapper div an explicitly larger height and something like `overflow: hidden`.

[2022-05-15 11:50] auriel-klasovksy commented on #490
To fix this, I have changed the onClick event to only check event.target (not its parent) and also have placed the preventDefault and stopPropagation calls outside the if statement.

This way the event will only fire when the user clicks on an element with the closeTrigger attribute. I honestly don't know why it was not done this way to begin with, hope I am not introducing new bugs to my site.

[2022-06-03 08:00] migliori opened #499 "onClose event is not triggered when clicking on the modal overlay"
Hi,

Thanks for this wonderful tool.

Here's my issue:

[code]

When I click on the modal overlay it closes the modal, but the _onClose_ event is not triggered, so the document.body still has overflow: hidden

Thanks for your help

[2022-06-04 09:51] kalpeshsingh commented on #499
Hello @migliori

See if this [example](https://codesandbox.io/s/silly-burnell-wzsm6r?file=/src/App.js) can help you.

[2022-06-04 16:14] migliori commented on #499
Hello @[kalpeshsingh](https://github.com/kalpeshsingh),

Thanks for your answer, I tried your example but the modal doesn't open and there's nothing in the console.

[2022-06-07 13:08] kalpeshsingh commented on #499
Hello @migliori
I'm not sure why didn't it work.

You may want to try this one - https://codesandbox.io/s/cranky-microservice-7ctcgz

[2022-06-08 03:11] cfxd commented on #490
Bummer that this broke in 0.4.10 but I solved it by creating a full size pseudo element over the child elements. Worked this time!

[2022-06-08 06:19] migliori commented on #499
@[kalpeshsingh](https://github.com/kalpeshsingh),

Thanks but it still doesn't work

[2022-06-08 08:50] kalpeshsingh commented on #499
Please share your example.
It will help us to debug effectively.

[2022-06-08 09:27] migliori commented on #499
My sincere apologies for wasting your time.
I made a pen here: https://codepen.io/migli/pen/KKQxjxx and it worked exactly as expected.
When closing the modal by clicking the overlay the onClose event is triggered.

So I went back to my page at http://phpformbuilder/templates/bootstrap-5-forms/ajax-loaded-multiple-forms.html
and it works perfectly too now.

It can't be a browser cache issue (I alwa

[2022-06-08 09:27] #499 closed

[2022-06-26 09:21] OliverLSanz commented on #354
I agree. Global configuration could be overridden with configuration passed to `show`. But if nothing is passed to `show`  global configuration should be used instead.

[2022-07-02 04:55] e11world commented on #371
I had a similar issue and both solutions here worked. Thanks everyone!

[2022-07-08 00:48] harryhaigh opened #500 "Window object doesn't work during gatsby build."
.

[2022-07-26 15:23] rmkane commented on #287
Any update on the status of this issue? Look like the close trigger is still shared among the close button and modal overlay.

[2022-07-30 17:14] kalpeshsingh commented on #287
Hello folks!
I don't have bandwidth to work on this.

Please send PR if possible and @ghosh or I can merge it.

[2022-09-24 14:16] Geolim4 opened #502 "Feature idea: "non-dismissable" option"
Hello !

Thanks for this awesome tool.
I was wondering if an option such as "non-dismissable" option could be implemented.

The idea would be the following one: Forcing the user to make a choice using the buttons and not having the ability to close the modal by ESCaping, clicking outside of it, or clicking on the [X] button.

Is that something that can be considered ? :D

Thank you !

[2022-10-08 04:11] nickolasjadams commented on #502
@Geolim4
Looks like it was already addressed here. https://github.com/ghosh/micromodal/issues/105

The stance taken is that this feature will not be implemented.
Forking the library and making the change could be done in just a few lines though. Some have mentioned other solutions under that issue.

[2022-11-02 21:35] jacktan165 opened #504 "Esc and focus trap does not work if iframe is inside the modal"

[2022-11-12 11:39] sahil839 opened #505 "Modal closes when selecting a field."
**Current behavior** - Selecting a field or text in the modal closes it if mouse is dragged outside the modal.

Example from [zulip](https://github.com/zulip/zulip) project-
![selecting-inside-modal](https://user-images.githubusercontent.com/35494118/201472035-8298c11b-70a7-4de1-be06-15b8b81c22ed.gif)

Can be reproduced while selecting some text in the demo modal in [documentation](https://micromo

[2022-11-18 13:50] sahil839 commented on #505
One possible solution could be to add the below check before closing the modal on clicking the overlay
[code]

[2022-11-18 16:19] Ethan-Hill commented on #505
Same thing here, this seems like quite a big issue to have if someone is just interacting with the content.

[2022-11-25 10:21] mattiusclay commented on #505
Same issue here, very simple install, clicking on certain areas of the "modal__container", close the modal down for me. It's triggering the overlay close even though I'm clicking within the modal, surely that's not right?